{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="divider"><span></span><span><h2>Authors</h2></span><span></span></div>


        <div id="authors_table">
            {% load avatar_tags %}
        {% for author in user_list %}
        {% if forloop.first %}
        {# Start a new row every 5 authors #}
        {% elif forloop.counter0|divisibleby:5 %}
            {% endif %}
            <div class="author">
                <div class="author-image">{% avatar author 150 %}</div>
                <div class="author-name">{{ author.as_html_link |safe }}</div>
                <br/>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}
