{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <table width="900" id="authorsTable">
        <tbody>
        {% load avatar_tags %}

            {% for author in user_list %}
                <tr>
                    <td>
                        <center>{% avatar author 150 %}</center>
                        <center>{{ author.as_html_link |safe }}</center>
                        <br>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
