{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="divider"><span></span><span><h2>Authors</h2></span><span></span></div>
    <table style="min-width: 900px; margin: 0 auto;" id="authorsTable">
        <tbody>
        {% load avatar_tags %}
        {% for author in user_list %}
            {% if forloop.first %}
                <tr>
            {# Start a new row every 5 authors #}
            {% elif forloop.counter0|divisibleby:5 %}
                </tr>
                <tr>
            {% endif %}
            <td>
                <center>{% avatar author 150 %}</center>
                <p><center>{{ author.as_html_link |safe }}</center></p>
                <br/>
            </td>
            {% if forloop.last %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
