{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>{% block title %}AI Arena{% endblock %}</title>
</head>

<body>
<div id="page">
    <div id="sidebar">
        {% block sidebar %}
            <ul id="sidebar-items">
                <li>
                    <h3>pages</h3>
                    <ul class="links">
                        <a href="{% url 'index' %}">{% trans "Home" %}</a>
                    </ul>
                </li>
                <li>
                    <h3>user</h3>
                    <ul class="links">
                        {% if user.is_authenticated %}
                            <li>{% trans "Logged in" %}: {{ user.username }}</li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Log in" %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <h3>links</h3>
                    <ul class="links">
                        <li><a href="https://discord.gg/kQFtbvY"</a>Discord</a></li>
                        <li><a href="https://github.com/Dentosal/python-sc2">python-sc2</a></li>
                        <li><a href="https://github.com/Blizzard/s2client-proto#downloads">StarCraft II</a></li>
                        <li><a href="https://sc2ai.net">Starcraft 2 AI Ladder</a></li>
                    </ul>
                </li>
            </ul>
        {% endblock %}
    </div>

    <div id="header">
        {% block header %}
            <h1 class="site-title">StarCraft II AI Arena</h1>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
</body>

</html>
