{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="divider"><span></span><span><h2>Bots</h2></span><span></span></div>
    <table id="botsTable" class="hover_table">
        <tbody>
        <thead>
            <td><b>Name</b></td>
            <td><b>Author</b></td>
            <td><b>Race</b></td>
            <td><b>Type</b></td>
            <td><b>Active</b></td>
            <td><b>ELO</b></td>
        </thead>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.as_html_link |safe }}</td>
                <td>{{ bot.user.as_html_link |safe }}</td>
                <td>{{ bot.get_plays_race_display }}</td>
                <td>{{ bot.type }}</td>
                <td>{{ bot.active }}</td>
                <td>{{ bot.elo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
