{% extends "base.html" %}
{% load i18n core_filters %}

{% block content %}
    <div class="divider"><span></span><span><h2>Match {{ match.id }}</h2></span><span></span></div>
    <div class="registration-form" style="text-align: center; margin-bottom: 40px;">
        <h2>
            <i class="material-icons" style="font-size: 48px; padding-bottom:15px;">emoji_events</i><br/>
            {# Highlight the winner #}
            {% if match.result %}
                {% if match.result.has_winner %}
                    {% if match.result.winner_participant_number == 1 %}
                         <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em;">trending_up</i>
                        ({{ match.participant1.elo_change|format_elo_change }})
                         {{ match.participant1.bot.as_html_link |safe }}
                    {% elif match.result.is_tie %}
                         <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em; ">fast_forward</i>
                        ({{ match.participant1.elo_change|format_elo_change }})
                    {% else %}
                        <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em;">trending_down</i>
                        ({{ match.participant1.elo_change|format_elo_change }})
                        {{ match.participant1.bot.as_html_link |safe }}
                    {% endif %}

                {% else %}
                    <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em; ">fast_forward</i>
                    ({{ match.participant1.elo_change|format_elo_change }})
                    {{ match.participant1.bot.as_html_link |safe }}
                {% endif %}
            {% endif %}
            - VS -
            {% if match.result %}
                {% if match.result.has_winner %}
                    {% if match.result.winner_participant_number == 2 %}
                        {{ match.participant2.bot.as_html_link |safe }}
                        ({{ match.participant2.elo_change|format_elo_change }})
                        <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em;">trending_up</i>
                    {% elif match.result.is_tie %}
                        ({{ match.participant2.elo_change|format_elo_change }})
                        <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em; ">fast_rewind</i>
                    {% else %}
                        {{ match.participant2.bot.as_html_link |safe }}
                        ({{ match.participant2.elo_change|format_elo_change }})
                        <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em;">trending_down</i>
                    {% endif %}
                {% else %}
                    {{ match.participant2.bot.as_html_link |safe }}
                    ({{ match.participant2.elo_change|format_elo_change }})
                    <i class="material-icons" style="font-size: 32px; padding: 0px; margin:0px; vertical-align: -0.3em;">fast_rewind</i>
                {% endif %}
            {% endif %}
        </h2>
        <h3>On:</h3>
        <h2>{{ match.map }}</h2>


    </div>
   <div id="sidebar_left">
        <table id="bot_details">
        <thead>
        <tr>
            <td><b>Started at</b></td>
            <td><b>Finished at</b></td>
            <td><b>Assigned to</b></td>
            <td><b>Result</b></td>
            <td><b>Winner</b></td>
            <td><b>Game Steps</b></td>
            <td><b>Replay</b></td>
        </tr>
        <thead>
        <tbody>
            <tr>{% if match.started %}
                <td>{{ match.started|date:"d. N Y - H:i:s" }}</td>
            {% else %}
                <td>queued...</td>
            {% endif %}
           {% if match.result %}
                <td>{{ match.result.created|date:"d. N Y - H:i:s" }}</td>
            {% else %}
                <td>None</td>
            {% endif %}

                    {% if match.assigned_to %}
                <td>{{ match.assigned_to }}</td>
            {% else %}
                <td>queued...</td>
            {% endif %}

            {% if match.result %}
                <td>{{ match.result.type }}</td>
            {% else %}
                <td>None</td>
            {% endif %}
            {% if match.result.winner %}
                <td>{{ match.result.winner }}</td>
            {% else %}
                <td>None</td>
            {% endif %}
    {% if match.result %}
                <td>{{ match.result.game_steps }}</td>
            {% else %}
                <td>None</td>
            {% endif %}
   {% if match.result.replay_file %}
                <td><a href="{{ match.result.replay_file.url }}">Download</a></td>
            {% elif match.result.replay_file_corruption_detected %}
                <td>Replay corrupt (<a href="{% url 'corrupt_replays' %}">?</a>)</td>
            {% else %}
                <td>Unavailable</td>
            {% endif %}</tr>

    </tbody>
    </table>
   </div>
{% endblock %}
