{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <table width="900" id="resultsTable">
        <tbody>
        <tr>
            <td align="center"><b>ELO</b></td>
            <td align="center"><b>Name</b></td>
            <td align="center"><b>Race</b></td>
            <td align="center"><b>Author</b></td>
            <td align="center"><b>Type</b></td>
        </tr>
        {% for bot in bot_list %}
            <tr>
                <td align="center">{{ bot.elo }}</td>
                <td align="center">{{ bot.name }}</td>
                {% if bot.plays_race == 'R' %}
                    <td align="center">Random</td>
                {% elif bot.plays_race == 'T' %}
                    <td align="center">Terran</td>
                {% elif bot.plays_race == 'P' %}
                    <td align="center">Protoss</td>
                {% elif bot.plays_race == 'Z' %}
                    <td align="center">Zerg</td>
                {% endif %}
                <td align="center">{{ bot.user.username }}</td>
                <td align="center">{{ bot.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
