{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="divider"><span></span><span><h2>Delete Avatar</h2></span><span></span></div>
<div class="registration-form">
    <p>{% trans "Please select the avatars that you would like to delete." %}</p>
    {% if not avatars %}
        {% url 'avatar:change' as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar:delete' %}">
            <ul>
                {{ delete_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input id="submit-button" type="submit" value="{% trans "Delete These" %}" /></p>
        </form>
    {% endif %}
</div>
{% endblock %}
