@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 225, 225;
  /* Brown/Gray gradient for light mode */
  --background-start-rgb: 69, 70, 69; /* Brown */
  --background-end-rgb: 25, 30, 25; /* Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 25, 25, 25;
    /* Brown/Gray gradient for dark mode */
    --background-start-rgb: 15, 15, 15; /* Dim Gray */
    --background-end-rgb: 47, 47, 47;      /* Darker Gray */
  }
}
@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-2xl font-normal;
  }

  h5 {
    @apply text-xl font-light;
  }

  h6 {
    @apply text-lg font-thin;
  }
}


body {
  color: rgb(var(--foreground-rgb)); /* Apply the white text color */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Ensure this is above the video */
  pointer-events: none; /* Prevent interaction with the video, but not its children */
}

.video-overlay * {
  pointer-events: auto; /* Allow interaction with child elements */
}

nav {
  position: relative;
  z-index: 10; /* Ensure the navbar is always above the video and overlay */
}

nav .block {
  z-index: 20; /* For the mobile menu, ensure it is above the overlay text */
}

/* Hide video overlay when mobile navbar is active */
@media (max-width: 768px) {
  .navbar-active .video-overlay {
    display: none;
  }
}
@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}














/* Fancy Effects  */




.animate-gradientShift {
  background-size: 200% 100%;
  animation: gradientShift 5s cubic-bezier(0.66, 0, 0.34, 1) infinite;
}






.circular-gradient-shadow {
  width: 15px;
  height: 15px;
  position: relative;
  margin: 5px auto;
  border-radius: 100%;
  background:rgb(134, 254, 50);
  /* background: linear-gradient(180deg, rgba(134, 254, 50, 1), rgba(134, 254, 50, 1)); */
  box-shadow: 0 0 1px rgba(134, 254, 50, 0.5);
  animation: rotate-gradient 4s linear infinite, pulse 2s ease-in-out infinite;
}

.circular-gradient-shadow::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 100%;
  box-shadow: 0 0 1px rgba(134, 254, 50, 0.5);
  animation: rotate-shadow 4s linear infinite reverse, pulse-shadow 4s ease-in-out infinite;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes rotate-shadow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 1px rgba(134, 254, 50, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(134, 254, 50, 0.7);
  }
}

@keyframes pulse-shadow {
  0%, 100% {
    box-shadow: 0 0 1px rgba(134, 254, 50, 0.5);
  }
  50% {
    box-shadow: 0 0 1px rgba(134, 254, 50, 0.7);
  }
}





@keyframes sine-wave {
  0% {
    border-color: rgba(134, 194, 50, 1); 
  }
  25% {
    border-color: rgba(154, 210, 70, 1); 
  }
  50% {
    border-color: rgba(174, 230, 90, 1); 
  }
  75% {
    border-color: rgba(154, 210, 70, 1); 
  }
  100% {
    border-color: rgba(134, 194, 50, 1); 
  }
}

@keyframes sine-wave-text {
  0%, 100% {
    color: rgba(134, 194, 50, 1); 
  }
  25% {
    color: rgba(154, 210, 70, 1); 
  }
  50% {
    color: rgba(174, 230, 90, 1);
  }
  75% {
    color: rgba(154, 210, 70, 1); 
  }
}

.animate-sine-wave {
  animation: sine-wave 5s ease-in-out infinite;
}

.animate-sine-wave-text {
  animation: sine-wave-text 5s ease-in-out infinite;
}




.dividing-line {
  position: relative;
  width: 100%;
  height: 10px;
  background: linear-gradient(25deg, 
    transparent 48%, 
    rgba(134, 194, 50, 1) 48%, 
    rgba(134, 194, 50, 1) 52%, 
    transparent 52%);
}

.dividing-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(134, 194, 50, 1) 20%,
    rgba(134, 194, 50, 1) 80%,
    transparent 100%
  );
  clip-path: polygon(0% 100%, 20% 50%, 80% 50%, 100% 0%);
}

.dividing-line1 {
  position: relative;
  width: 100%;
  height: 10px;
  background: linear-gradient(25deg, 
    transparent 48%, 
    rgba(134, 194, 50, 1) 48%, 
    rgba(134, 194, 50, 1) 52%, 
    transparent 52%);
}

.dividing-line1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(134, 194, 50, 1) 20%,
    rgba(134, 194, 50, 1) 80%,
    transparent 100%
  );
  clip-path: polygon(0% 100%, 20% 50%, 80% 50%, 100% 0%);
}

.dividing-line2 {
  position: relative;
  width: 100%;
  height: 10px;
  background: linear-gradient(45deg, 
    transparent 40%, 
    rgba(134, 194, 50, 1) 40%, 
    rgba(134, 194, 50, 1) 60%, 
    transparent 60%);
}

.dividing-line2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(134, 194, 50, 1) 10%,
    rgba(134, 194, 50, 1) 90%,
    transparent 100%
  );
  clip-path: polygon(0% 100%, 10% 50%, 90% 50%, 100% 0%);
}
.dividing-line3 {
  position: relative;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    120deg,
    rgba(134, 194, 50, 1) 25%,
    transparent 25%
  );
  clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
}


.dividing-line4 {
  position: relative;
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(
    135deg,
    rgba(134, 194, 50, 1),
    rgba(134, 194, 50, 1) 10px,
    transparent 10px,
    transparent 20px
  );
}

.dividing-line5 {
  position: relative;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    240deg,
    rgba(134, 194, 50, 1) 75%,
    transparent 75%
  );
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.dividing-line6 {
  position: relative;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    135deg,
    rgba(134, 194, 50, 1) 50%,
    transparent 50%
  );
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
}


.dividing-line7 {
  position: relative;
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    rgba(134, 194, 50, 1),
    rgba(134, 194, 50, 1) 5px,
    transparent 5px,
    transparent 10px
  );
}
.dividing-line8 {
  position: relative;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    160deg,
    rgba(134, 194, 50, 1) 40%,
    transparent 40%
  );
  clip-path: polygon(0% 0%, 50% 80%, 100% 0%, 100% 100%, 0% 100%);
}



.dividing-line9 {
  position: relative;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    30deg,
    rgba(134, 194, 50, 1) 50%,
    transparent 50%
  );
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
}
