[run]
branch = true
omit = aiarena/*/tests/*, aiarena/*/migrations/*, aiarena/urls.py, aiarena/settings.py, */wsgi.py, manage.py
source = .

[report]
show_missing = true
omit = aiarena/*/tests/*, aiarena/*/migrations/*, aiarena/urls.py, aiarena/settings.py, */wsgi.py, manage.py