*.pyc

venv/

.idea/

# local development only settings
aiarena/settings/local.py

# python env
python_env/

# uploaded files
media/
private-media/

# coverage
.coverage
coverage-reports

cloudformation-default.yaml

testtest11.py