*.pyc

venv/

.idea/

# local development only settings
aiarena/settings/local.py

# python env
python_env/

# uploaded files
media/
private-media/

# downloaded backups
backup/

# coverage
.coverage
coverage-reports

cloudformation-default.yaml

test-results/

testtest11.py

frontend/packages/web/schema.graphql