Django==4.2.17
Markdown==3.6
awscli==1.31.6
boto3==1.33.6
celery==5.4.0  # https://docs.celeryproject.org/en/latest/changelog.html
confusable-homoglyphs==3.2.0
django-appconf==1.0.5
django-avatar==8.0.0
django-bootstrap-form==3.4
django-constance[redis]==3.1.0
django-debug-toolbar==3.2.2
django-dirtyfields==1.9.3
django-discord-bind @ git+https://github.com/aiarena/django-discord-bind.git@6c987450c2573ae73537d4ea89ec76679c0418f2
django-extensions==3.2.3
django-filter==24.3
django-grappelli==3.0.8
django-pglocks==1.0.4
django-picklefield==3.1
django-private-storage==3.1
django-random-queryset==0.1.3
django-redis==5.4.0
django-registration-redux==2.10
django-robots==6.1
django-select2==8.1.2
django-storages==1.13.2
django-tables2==2.7.0
djangorestframework==3.15.2
docutils<0.17
drf-yasg @ git+https://github.com/max-muoto/drf-yasg.git@68cc6fa76848d1d0194d847569009eb603e516b2
graphene-django==3.2.2
matplotlib==3.8.0
numpy==1.26.3
pandas==2.2.2
pinax-theme-bootstrap==8.0.1
psycopg2-binary==2.9.9
pytz==2022.7.1
redis==5.0.1
sentry-sdk[django]==1.32.0
six==1.16.0
uwsgi==2.0.28
wheel==0.38.4
wiki==0.11.1