{% load sekizai_tags i18n wiki_tags static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block wiki_pagetitle %}{% endblock %}{% block wiki_site_title %} - AI Arena Wiki{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <!-- Le styles -->
    <link href="{% static "wiki/bootstrap/css/wiki-bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "wiki-override/style.css" %}" rel="stylesheet">

    {% render_block "css" %}
</head>

<body>

{% block wiki_body %}

    {% block wiki_navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark main-navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'wiki:root' %}"><img class="ai-arena-logo"
                                                                          src="/static/img/ai-arena-logo.png"
                                                                          alt="AI Arena Logo"> Arena Wiki</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    {% block wiki_header_navlinks %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">{% trans "< back to AI Arena" %}</a>
                            </li>
                        </ul>
                    {% endblock %}
                    <form class="form-inline" method="GET" action="{% spaceless %}
            {% if article or urlpath %}
                {% url 'wiki:search' article_id=article.id path=urlpath.path %}
              {% else %}
                {% url 'wiki:search' %}
              {% endif %}
            {% endspaceless %}"
                    >
                        <div class="input-group">
                            <input type="search" class="form-control" aria-label="Search" name="q"
                                   placeholder="{% spaceless %}
                {% if article or urlpath %}
                   {% trans "Search from current article..." %}
                {% else %}
                  {% trans "Search whole wiki..." %}
                {% endif %}
              {% endspaceless %}"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-light my-sm-0" type="submit"><span
                                        class="fa fa-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </nav>
    {% endblock %}

    <div class="container" style="margin-top: 60px;">

        {% wiki_messages %}

        <!-- Reserved for breadcrumbs -->
        {% block wiki_breadcrumbs %}{% endblock %}

        <div class="content-spacer"></div>

        <!-- Main page contents go here -->
        <div class="main-content">
            {% block wiki_contents %}{% endblock %}
        </div>
    </div> <!-- /container -->

{% endblock %}

<script src="{% static "wiki/js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "wiki/js/core.js" %}"></script>
<script src="{% static "wiki/js/popper.js" %}"></script>
<script src="{% static "wiki/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<script src="{% static "wiki/js/respond.min.js" %}"></script>
{% render_block "js" %}

</body>
</html>
