ul.pagination {
    display: table;
    padding: 0;
    width:88%;
float:right;
text-align: justify;
background-color: rgba(0, 0, 0, 0.5);
margin-right: 50px;
}

ul.pagination li {
    display: table-cell;
    font-weight: normal;
    text-align: center;
}

ul.pagination li.active {
    display: table-cell;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.disabled {
    display: table-cell;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    color: #7da630;
}

body {
    margin-bottom: 25px;
    padding: 0;
    background-color: rgb(0, 4, 1);
    background-image: url("/static/img/background.gif");

    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.86);
}

h1 {
    font-size: 28px;
    color: #86c232;;
}

a {
    color: #86c232;

}
.material-icons {
    font-size: 32px;
    padding-right: 12px;
    padding-top: 5px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

#page {
    background-color: rgba(0, 0, 0, 0);
    width: 1200px;
    margin: auto;
    padding-left: 0px;


}

#content {
   /* background-color: rgba(0, 0, 0, 0.13);*/
    overflow: auto;

background: rgba(76,76,76,0);
background: -moz-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,0)), color-stop(50%, rgba(0,0,0,0.4)), color-stop(100%, rgba(19,19,19,0)));
background: -webkit-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0.0) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: linear-gradient(to right, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );


}

#construction {
    margin-left: 75px;
    margin-right: 75px;
    height: 75px;
    border: 2px solid #86c232;
    background-color: rgba(0, 0, 0, 0.2);

}
#construction span{
    top: 40px;
    float: left;
}
#construction h3{
    color: #61892f;
    padding: 0px;
    margin: 0px;
}
.construction-content{
    padding-left: 20px;
    padding-top: 15px;
}
#rules-short {
    margin-left: 75px;
    margin-right: 75px;
}
#top10 {
    margin-left: 75px;
    margin-right: 75px;
}
#problems {
    margin-left: 75px;
    margin-right: 75px;
}

#sidebar {
    float: right;
    width: 12.0%;
}

iframe {
    max-width: 100%;
}

#header {

    height: 200px;
    padding-top: 35px;
    width: 85.0%;
    align-content: center;
    overflow: auto;
    background: rgba(76,76,76,0);
background: -moz-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0.0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,0)), color-stop(50%, rgba(0,0,0,0.4)), color-stop(100%, rgba(19,19,19,0)));
background: -webkit-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
background: linear-gradient(to right, rgba(76,76,76,0) 0%, rgba(0,0,0,0.4) 50%, rgba(19,19,19,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

#float-half-left {
     float: left;
     width: 50%;
}

#float-half-right {
     float: right;
     width: 50%;
}

#type-left {
     float: left;
     width: 33%;
}

#type-right {
     float: right;
     width: 33%;
}
#type-middle {
    float:left;
     width: 33%;
     margin:0;
}

#type-left h3 {
font-size: 14px;
color: #61892f;
}
#type-middle h3 {
font-size: 14px;
color: #61892f;
}
#type-right h3 {
font-size: 14px;
color: #61892f;
}
#type-left ul {
    height: 90px;
}
#type-right ul {
    height: 90px;
}
#type-middle ul {
    height: 90px;
}


#rules-content {
    padding-left: 75px;
    padding-right: 75px;

}

#header h1, #header h2 {
    font-family: 'Gugi', cursive;
    text-align:center;
    vertical-align:middle;
    margin: 0;
    font-size: 42px;
    /*color: #faed26;*/
    color: #86c232;
}


#header h2 {
    color: rgba(14, 255, 0, 0.37);
    font-weight: normal;
    font-size: 16px;
}

#about h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

#about-content {
    background-color: #ffd;
    border: 1px solid #fc0;
    margin-left: -11px;
}

#about-content table {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-collapse: collapse;
}

#about-content td {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#about-content td.name {
    color: #aba1a1
}

#about-content td.value {
    color: #866f6f
}

#about-content.failure {
    background-color: #fcc;
    border: 1px solid #fff;
}

#about-content.failure p {
    margin: 0;
    padding: 10px;
}

#getting-started {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding-top: 15px;
}

#getting-started h1 {
    margin: 0;
    font-size: 20px;
}

#getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #523a3a;
    margin-bottom: 25px;
}

#getting-started ol {
    margin-left: 0;
    padding-left: 0;
}

#getting-started li {
    font-size: 18px;
    color: rgb(190, 255, 202);
    margin-bottom: 25px;
}

#getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: rgba(230, 255, 231, 0.62);
}

#getting-started li p {
    color: rgba(255, 255, 255, 0.72);
    font-size: 13px;
}

#search {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

#search input {
    font-size: 11px;
    margin: 2px;
}

#search-text {
    width: 170px
}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}

#sidebar-items{
    float: left;
}
#sidebar ul h3 {
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

}

#sidebar ul i {
    padding-bottom: 10px;
    padding-top: 0px;
    float: left;
    }

#sidebar li {
    list-style-type: none;
}

#sidebar ul.links li {
    margin-bottom: 5px;
}


h1 .site-title {
    text-align:center;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

code, .filepath, .app-info {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-family: sans-serif;
    font-size: 10px;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.divider-full
{
	position: relative;
	margin-top: 10px;
	height: 1px;
}

.div-transparent-full:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(134,194,50), transparent);
}

#asshole {
    clear: both;
    padding-left: 75px;
}



.divider {								/* minor cosmetics */
            display: table;
           /* font-size: 24px;*/
            text-align: center;
            width: 90%; 						/* divider width */
            margin: 10px auto;					/* spacing above/below */
        }
        .divider span {
            display: table-cell;
            position: relative;
        }
        .divider span:first-child, .divider span:last-child {
            width: 50%;
            top: 30px;							/* adjust vertical align */
            -moz-background-size: 100% 1px; 	/* line width */
            background-size: 100% 1px; 			/* line width */
            background-position: 0 0, 0 100%;
            background-repeat: no-repeat;
            pointer-events: none;			    /* Fix this blocking clicks on other elements */
        }
        .divider span:first-child {				/* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(134,194,50)));
            background-image: -webkit-linear-gradient(180deg, transparent, rgb(134,194,50));
            background-image: -moz-linear-gradient(180deg, transparent, rgb(134,194,50));
            background-image: -o-linear-gradient(180deg, transparent, rgb(134,194,50));
            background-image: linear-gradient(90deg, transparent, rgb(134,194,50));
        }
        .divider span:nth-child(2) {
            color: #fff;
            padding: 0px 10px;
            width: auto;
            white-space:
            nowrap;
        }
        .divider span:last-child {				/* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(134,194,50)), to(transparent));
            background-image: -webkit-linear-gradient(180deg, rgb(134,194,50), transparent);
            background-image: -moz-linear-gradient(180deg, rgb(134,194,50), transparent);
            background-image: -o-linear-gradient(180deg, rgb(134,194,50), transparent);
            background-image: linear-gradient(90deg, rgb(134,194,50), transparent);
        }

#authors_table {
width: 90%;
padding-left: 100px;
overflow: hidden;

}
.author {
float: left;
width: 150px;
height: 150px;
background-color: #86c232;
background-image: url("/static/img/default_avatar.jpg");
margin:10px;
overflow: visible;
border: 1px solid #86c232;
}
.author-image{
width: 150px;
height: 150px;
}

.author-name{
position: relative;
height: 40px;
bottom:40px;
text-align: center;
color: #fff;
background-color: rgba(0, 0, 0, 0.5);
}

.author-name a {
top: 10px;
position: relative;
font-size: 16px;
color: #fff;
}

table{
    display: blocking;
    overflow: hiden;
   background-color: rgba(0, 0, 0, 0.1);
    width: 88%;
  text-align: center;
  border-collapse: collapse;
  margin-left: 60px;
  margin-right: 50px;

    }

     thead  {
  background-color: #86c232;
          color: #fffff;
          font-size: 16px;
          min-height: 40px;
}
 td {
 height: 35px;
 padding-left: 10px;
 padding-right: 10px;

 }

 tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}

  tr:hover {
          background-color: rgba(97, 137, 47, 0.7);/*#61892f;*/
          color: #fffff;
        }

tr:hover a:hover{
          color: #fffff;
        }
tr:hover a{
          color: #fffff;
        }
tr:hover a:focus
{
          color: #fffff;
        }

thead tr:hover {
          background-color: #86c232;
        }

#top10 table{
width:100%;
text-align: center;
  border-collapse: collapse;
  margin-left:0;
}



#sidebar_left{
width: 100%;
float:right;
margin:0px;
margin-bottom:30px;
margin-left: 50px;

}
#sidebar_left table{
text-align: justify;
margin-left: 73px;


}
#sidebar_left thead{
background-color: rgba(97, 137, 47, 0.7)
}
#sidebar_left tr:hover{
background-color: rgba(0, 0, 0, 0)

}
.bot_details{
padding-right:20px;
margin-bottom:40px;
margin-left: 50px;
}

#bot_results{
margin: 0px;
padding: 0px;
float: right;
width:100%;
}

#bot_results table {
margin: 0px;
padding: 0px;
padding-right:10px;
margin-right: 50px;
margin-left: 10px;
text-align: justify;
float: right;
}
#bot_results td {
text-align: center;
}

