confusable-homoglyphs==3.2.0
colorama==0.4.3
Django==2.1.7
django-appconf==1.0.3
django-bootstrap-form==3.4
django-filter==2.1.0
django-private-storage==2.2
django-registration-redux==2.5
django-avatar==4.1.0
djangorestframework==3.9.2
wheel
mysqlclient==1.4.2.post1
pinax-theme-bootstrap==8.0.1
pytz==2018.9
six==1.12.0
Markdown==2.6
wiki==0.4.5
mysql-connector
matplotlib
pandas==0.25.0
django-robots==3.1.0
django-random-queryset==0.1.3
django-extensions==2.2.9
django-grappelli==2.14.2
docutils==0.16