confusable-homoglyphs==3.2.0
Django==3.0.8
django-appconf==1.0.4
django-bootstrap-form==3.4
django-filter==2.3.0
django-private-storage==2.2.2
django-registration-redux==2.8
django-avatar==5.0.0
djangorestframework==3.11.1
wheel
mysqlclient==2.0.1
pinax-theme-bootstrap==8.0.1
pytz==2020.1
six==1.15.0
Markdown==3.3.3
wiki==0.7
mysql-connector
matplotlib
pandas==1.0.5
django-robots==4.0
django-random-queryset==0.1.3
django-extensions==3.0.9
django-grappelli==2.14.2
docutils==0.16
django-debug-toolbar
drf-yasg
django-sheets@git+git://github.com/eladyaniv01/django-sheets.git@master#egg=sheets