<mat-sidenav-container class="">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <div class="navigation-header">
        <em class="material-icons">pages</em>
        <h3>pages</h3>
      </div>
      <div>
        <a mat-list-item routerLink="Home">Home</a>
        <a mat-list-item routerLink="Wiki">Wiki</a>
        <a mat-list-item routerLink="Authors">Authors</a>
        <a mat-list-item routerLink="Bots">Bots</a>
        <a mat-list-item routerLink="Competitions">Competitions</a>
        <a mat-list-item routerLink="Match Queue">Match Queue</a>
        <a mat-list-item routerLink="Results">Results</a>
        <a mat-list-item routerLink="Live Stream">Live Stream</a>
        <a mat-list-item routerLink="finance">Project Finance</a>
        <a mat-list-item routerLink="API">API</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>



