@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-2xl font-normal;
  }

  h5 {
    @apply text-xl font-light;
  }

  h6 {
    @apply text-lg font-thin;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
