@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-2xl font-normal;
  }

  h5 {
    @apply text-xl font-light;
  }

  h6 {
    @apply text-lg font-thin;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Ensure this is above the video */
  pointer-events: none; /* Prevent interaction with the video, but not its children */
}

.video-overlay * {
  pointer-events: auto; /* Allow interaction with child elements */
}

nav {
  position: relative;
  z-index: 10; /* Ensure the navbar is always above the video and overlay */
}

nav .block {
  z-index: 20; /* For the mobile menu, ensure it is above the overlay text */
}

/* Hide video overlay when mobile navbar is active */
@media (max-width: 768px) {
  .navbar-active .video-overlay {
    display: none;
  }
}