{% extends "base.html" %}
{% load i18n core_filters %}
{% load humanize %}
{% block content %}
    <div class="divider"><span></span><span><h2>Arena Client</h2></span><span></span></div>
    <table summary="Table containing Arena Client information" style="min-width: 900px; margin: 0 auto;">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Owner</strong></td>
        <td><strong>Matches (1h)</strong></td>
        <td><strong>Matches (24h)</strong></td>
        <td><strong>Matches Total</strong></td>
        </thead>
        <tbody>
        <tr>
            <td>{{ arenaclient.username }}</td>
            <td>{{ arenaclient.owner.as_html_link }}</td>
            <td>{{ ac_match_count_1h }}</td>
            <td>{{ ac_match_count_24h }}</td>
            <td>{{ ac_match_count }}</td>
        </tr>
        </tbody>
    </table>
    {% if assigned_matches_list.count > 0 %}
    <div class="divider"><span></span><span><h2>Assigned Matches</h2></span><span></span></div>
    <div id="bot_results">
        <table summary="Table containing assigned matches" class="row-hover-highlight">
            <thead>
                <td><strong>Match ID</strong></td>
                <td><strong>Bot 1</strong></td>
                <td><strong>Bot 2</strong></td>
                <td><strong>Map</strong></td>
                <td><strong>Started at</strong></td>
            </thead>
            <tbody>
            {% for match in assigned_matches_list %}
                <tr>
                    <td>{{ match.as_html_link }}</td>
                    {% for p in match.participants %}
                        {% if p.participant_number == 1 %}
                            <td>{{ p.bot.as_truncated_html_link }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for p in match.participants %}
                        {% if p.participant_number == 2 %}
                            <td>{{ p.bot.as_truncated_html_link }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ match.map }}</td>
                    {% if match.started %}
                        <td>{{ match.started|date:"d. N Y - H:i:s" }}</td>
                    {% else %}
                        <td>queued...</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="divider"><span></span><span><h2>Results</h2></span><span></span></div>
    <div id="bot_results">
        <table summary="Table containing results" class="row-hover-highlight">
            <thead>
            <td><strong>ID</strong></td>
            <td><strong>Date</strong></td>
            {# Remove padding so the bot name and ELO change sit closer together #}
            <td style="padding-right: 0"><strong>Bot 1</strong></td>
            <td style="padding-left: 0"></td>
            <td style="padding-right: 0"><strong>Bot 2</strong></td>
            <td style="padding-left: 0"></td>
            <td><strong>Result</strong></td>
            <td><strong>Duration</strong></td>
            <td><strong>Replay</strong></td>
            </thead>
            <tbody>
            {% for result in result_list %}
                <tr>
                    <td>{{ result.match.as_html_link }}</td>
                    <td>{{ result.created|naturaltime|shorten_naturaltime }}</td>

                    {% for p in result.match.participants %}
                        {% if p.participant_number == 1 %}
                            <td style="padding-right: 0">
                                {% if result.winner == p.bot %}
                                    <strong>[{{ p.bot.as_truncated_html_link }}]</strong>
                                {% else %}
                                    {{ p.bot.as_truncated_html_link }}
                                {% endif %}
                            </td>

                            <td style="padding-left: 0">
                                {% if result.match.requested_by %}
                                    --
                                {% else %}

                                    {{ p.elo_change |format_elo_change }}
                                    {% if p.elo_change and p.elo_change != 0 %}
                                        {% if p.elo_change > 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                        {% elif p.elo_change < 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                        {% endif %}
                                    {% else %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                    {% endif %}

                                {% endif %}

                            </td>
                        {% endif %}
                    {% endfor %}

                    {% for p in result.match.participants %}
                        {% if p.participant_number == 2 %}
                            <td style="padding-right: 0">
                                {% if result.winner == p.bot %}
                                    <strong>[{{ p.bot.as_html_link }}]</strong>
                                {% else %}
                                    {{ p.bot.as_html_link }}
                                {% endif %}
                            </td>

                            <td style="padding-left: 0">
                                {% if result.match.requested_by %}
                                    --
                                {% else %}

                                    {{ p.elo_change |format_elo_change }}
                                    {% if p.elo_change and p.elo_change != 0 %}
                                        {% if p.elo_change > 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                        {% elif p.elo_change < 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                        {% endif %}
                                    {% else %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                    {% endif %}

                                {% endif %}

                            </td>
                        {% endif %}
                    {% endfor %}

                    <td>{{ result.type }}</td>

                    <td>{{ result.game_time_formatted }}</td>

                    {% if result.replay_file %}
                        <td><a href="{{ result.replay_file.url }}" download>Download</a></td>
                    {% else %}
                        <td>Unavailable</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if result_list.has_other_pages %}
                <ul class="pagination">
                    {% if result_list.has_previous %}
                        <li>
                            <a href="?page={{ result_list.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for page_num in results_page_range %}
                        {% if result_list.number == page_num %}
                            <li class="active"><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if result_list.has_next %}
                        <li><a href="?page={{ result_list.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
