{% extends "base.html" %}
{% load i18n core_filters url_utils %}
{% load humanize %}
{% block content %}
    <div class="divider"><span></span><span><h2>Arena Client</h2></span><span></span></div>
    <table summary="Table containing Arena Client information" style="min-width: 900px; margin: 0 auto;">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Owner</strong></td>
        <td><strong>Matches (1h)</strong></td>
        <td><strong>Matches (24h)</strong></td>
        <td><strong>Matches Total</strong></td>
        </thead>
        <tbody>
        <tr>
            <td>{{ arenaclient.username }}</td>
            <td>{% get_html_link "author" arenaclient.owner %}</td>
            <td>{{ ac_match_count_1h }}</td>
            <td>{{ ac_match_count_24h }}</td>
            <td>{{ ac_match_count }}</td>
        </tr>
        </tbody>
    </table>
    {% if assigned_matches_list|length > 0 %}
    <div class="divider"><span></span><span><h2>Assigned Matches</h2></span><span></span></div>
    <div id="bot_results">
        <table summary="Table containing assigned matches" class="row-hover-highlight">
            <thead>
                <td><strong>Match ID</strong></td>
                <td><strong>Bot 1</strong></td>
                <td><strong>Bot 2</strong></td>
                <td><strong>Map</strong></td>
                <td><strong>Started at</strong></td>
            </thead>
            <tbody>
            {% for match in assigned_matches_list %}
                <tr>
                    <td>{% get_html_link "match" match %}</td>
                    {% for p in match.participants %}
                        {% if p.participant_number == 1 %}
                            <td>{% get_bot_truncated_html_link p.bot %}</td>
                        {% endif %}
                    {% endfor %}
                    {% for p in match.participants %}
                        {% if p.participant_number == 2 %}
                            <td>{% get_bot_truncated_html_link p.bot %}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ match.map }}</td>
                    {% if match.started %}
                        <td>{{ match.started|date:"d. N Y - H:i:s" }}</td>
                    {% else %}
                        <td>queued...</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="divider"><span></span><span><h2>Recent Results</h2></span><span></span></div>
    <div id="bot_results">
        <table summary="Table containing recent results" class="row-hover-highlight">
            <thead>
            <td><strong>ID</strong></td>
            <td><strong>Date</strong></td>
            {# Remove padding so the bot name and ELO change sit closer together #}
            <td style="padding-right: 0"><strong>Bot 1</strong></td>
            <td style="padding-left: 0"></td>
            <td style="padding-right: 0"><strong>Bot 2</strong></td>
            <td style="padding-left: 0"></td>
            <td><strong>Result</strong></td>
            <td><strong>Duration</strong></td>
            <td><strong>Replay</strong></td>
            </thead>
            <tbody>
            {% for result in recent_result_list %}
                <tr>
                    <td>{% get_html_link "match" result.match %}</td>
                    <td>{{ result.created|naturaltime|shorten_naturaltime }}</td>

                    {% for p in result.match.participants %}
                        {% if p.participant_number == 1 %}
                            <td style="padding-right: 0">
                                {% if result.winner == p.bot %}
                                    <strong>[{% get_bot_truncated_html_link p.bot %}]</strong>
                                {% else %}
                                    {% get_bot_truncated_html_link p.bot %}
                                {% endif %}
                            </td>

                            <td style="padding-left: 0">
                                {% if result.match.requested_by %}
                                    --
                                {% else %}

                                    {{ p.elo_change |format_elo_change }}
                                    {% if p.elo_change and p.elo_change != 0 %}
                                        {% if p.elo_change > 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                        {% elif p.elo_change < 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                        {% endif %}
                                    {% else %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                    {% endif %}

                                {% endif %}

                            </td>
                        {% endif %}
                    {% endfor %}

                    {% for p in result.match.participants %}
                        {% if p.participant_number == 2 %}
                            <td style="padding-right: 0">
                                {% if result.winner == p.bot %}
                                    <strong>[{% get_html_link "bot" p.bot %}]</strong>
                                {% else %}
                                    {% get_html_link "bot" p.bot %}
                                {% endif %}
                            </td>

                            <td style="padding-left: 0">
                                {% if result.match.requested_by %}
                                    --
                                {% else %}

                                    {{ p.elo_change |format_elo_change }}
                                    {% if p.elo_change and p.elo_change != 0 %}
                                        {% if p.elo_change > 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                        {% elif p.elo_change < 0 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                        {% endif %}
                                    {% else %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                    {% endif %}

                                {% endif %}

                            </td>
                        {% endif %}
                    {% endfor %}

                    <td>{{ result.type }}</td>

                    <td>{{ result.game_time_formatted }}</td>

                    {% if result.replay_file %}
                        <td><a href="{{ result.replay_file.url }}" download>Download</a></td>
                    {% else %}
                        <td>Unavailable</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
