{% extends "base.html" %}
{% load i18n core_filters %}
{% load humanize %}
{% block content %}
<div class="divider"><span></span><span><h2>Arena Clients</h2></span><span></span></div>
    <table style="min-width: 900px; margin: 0 auto;">
        <thead>
            <td><b>Name</b></td>
            <td><b>Owner</b></td>
            <td><b>Matches (1h)</b></td>
            <td><b>Matches (24h)</b></td>
        </thead>
        <tbody>
        {% for arenaclient in user_list %}
            <tr>
                <td>{{ arenaclient.as_html_link |safe }}</td>
                <td>{{ arenaclient.owner.as_html_link |safe }}</td>
                <td>{{ arenaclient.matches_1hr }}</td>
                <td>{{ arenaclient.matches_24hr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
