{% extends "base.html" %}
{% load i18n core_filters %}
{% load humanize %}
{% block content %}
<div class="divider"><span></span><span><h2>Arena Clients</h2></span><span></span></div>
    <table summary="Table containing Arena Clients information" class="row-hover-highlight">
        <thead>
            <td><strong>Name</strong></td>
            <td><strong>Owner</strong></td>
            <td><strong>Matches (1h)</strong></td>
            <td><strong>Matches (24h)</strong></td>
        </thead>
        <tbody>
        {% for arenaclient in arenaclient_list %}
            <tr>
                <td>{% get_html_link "arenaclient" arenaclient %}</td>
                <td>{% get_html_link "author" arenaclient.owner %}</td>
                <td>{{ arenaclient.matches_1hr }}</td>
                <td>{{ arenaclient.matches_24hr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
