{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"><span></span><span><h2>Author</h2></span><span></span></div>
    <div id="author_detail">
        {% load avatar_tags %}
        <div class="author-detail-img">
            <div class="author-image-container">
                <div class="author-image">{% avatar author 150 %}</div>
            </div>
            <div class="patreon-{{ author.patreon_level }}"></div>
        </div>
        <div class="author-detail-info">
            <h2>{{ author.username }}</h2>

            <b>Joined</b><br/>
            {{ author.date_joined|date:"d. N Y" }}
            <br/>

            <b>Last login</b><br/>
            {{ author.last_login|date:"d. N Y" }}
        </div>
    </div>
    <br>
    <div class="divider"><span></span><span><h2>Bots</h2></span><span></span></div>
    <table id="author-bot_table">
        <thead>
        <td><b>Name</b></td>
        <td><b>Type</b></td>
        <td><b>Race</b></td>
        <td><b>Active</b></td>
        </thead>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.as_html_link }}</td>
                <td>{{ bot.type }}</td>
                <td>{{ bot.get_plays_race_display }}</td>
                <td>{{ bot.active }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
