{% extends "base.html" %}
{% load i18n core_filters url_utils %}
{% load humanize %}

{% block content %}
    <div class="divider"><span></span><span><h2>Author</h2></span><span></span></div>
    <div id="author_detail">
        {% load avatar_tags %}
        <div class="author-details-avatar-container">
            <div class="author-avatar">
                <div class="author-image-container">
                    <div class="author-image">{% avatar author 150 %}</div>
                </div>
                <div class="patreon-{{ author.patreon_level }}"></div>
            </div>
        </div>
        <div class="author-detail-info">
            <h2>{{ author.username }}</h2>

            <strong>Joined</strong><br/>
            {{ author.date_joined|date:"d. N Y" }}
            <br/>

            <strong>Last login</strong><br/>
            {{ author.last_login|date:"d. N Y" }}
        </div>
    </div>
    <br>
    <div class="divider"><span></span><span><h2>Bots</h2></span><span></span></div>
    <table summary="Table containing bots information" id="author-bot_table">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Type</strong></td>
        <td><strong>Race</strong></td>
        </thead>
        {% for bot in bot_list %}
            <tr>
                <td>{% get_html_link "bot" bot %}</td>
                <td>{{ bot.type }}</td>
                <td>{{ bot.plays_race.get_label_display }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="divider"><span></span><span><h2>Recent Results</h2></span><span></span></div>
    <table summary="Table containing recent results" class="row-hover-highlight">
        <thead>
        <td><strong>ID</strong></td>
        <td><strong>Date</strong></td>
        {# Remove padding so the bot name and ELO change sit closer together #}
        <td style="padding-right: 0"><strong>Bot 1</strong></td>
        <td style="padding-left: 0"></td>
        <td style="padding-right: 0"><strong>Bot 2</strong></td>
        <td style="padding-left: 0"></td>
        <td><strong>Result</strong></td>
        <td><strong>Duration</strong></td>
        <td><strong>Replay</strong></td>
        </thead>
        <tbody>
        {% for result in result_list %}
            <tr>
                <td>{% get_html_link "match" result.match %}</td>
                <td>{{ result.created|naturaltime|shorten_naturaltime }}</td>

                {% for p in result.match.participants %}
                    {% if p.participant_number == 1 %}
                        <td style="padding-right: 0">
                            {% if result.winner == p.bot %}
                                <strong>[{% get_bot_truncated_html_link p.bot %}]</strong>
                            {% else %}
                                {% get_bot_truncated_html_link p.bot %}
                            {% endif %}
                        </td>

                        <td style="padding-left: 0">
                            {% if result.match.requested_by %}
                                --
                            {% else %}

                                {{ p.elo_change |format_elo_change }}
                                {% if p.elo_change and p.elo_change != 0 %}
                                    {% if p.elo_change > 0 %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                    {% elif p.elo_change < 0 %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                    {% endif %}
                                {% else %}
                                    <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                {% endif %}

                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}

                {% for p in result.match.participants %}
                    {% if p.participant_number == 2 %}
                        <td style="padding-right: 0">
                            {% if result.winner == p.bot %}
                                <strong>[{% get_bot_truncated_html_link p.bot %}]</strong>
                            {% else %}
                                {% get_bot_truncated_html_link p.bot %}
                            {% endif %}
                        </td>

                        <td style="padding-left: 0">
                            {% if result.match.requested_by %}
                                --
                            {% else %}

                                {{ p.elo_change |format_elo_change }}
                                {% if p.elo_change and p.elo_change != 0 %}
                                    {% if p.elo_change > 0 %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_up</em>
                                    {% elif p.elo_change < 0 %}
                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;">trending_down</em>
                                    {% endif %}
                                {% else %}
                                    <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; ">trending_flat</em>
                                {% endif %}

                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}

                <td>{{ result.type }}</td>

                <td>{{ result.game_time_formatted }}</td>

                {% if result.replay_file %}
                    <td><a class="file-link" href="{{ result.replay_file.url }}" download>Download</a></td>
                {% else %}
                    <td>Unavailable</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
