{% load i18n cache url_utils %}
<!DOCTYPE html>
<html lang="en">
{% with public_banner_message=config.PUBLIC_BANNER_MESSAGE discord_invite_link=config.DISCORD_INVITE_LINK patreon_link=config.PATREON_LINK logged_in_banner_message=config.LOGGED_IN_BANNER_MESSAGE    project_finance_link=config.PROJECT_FINANCE_LINK    admin_cluster_link=config.ADMIN_CLUSTER_LINK    admin_webstats_link=config.ADMIN_WEBSTATS_LINK    github_link=config.GITHUB_LINK    twitch_link=config.TWITCH_LINK     youtube_link=config.YOUTUBE_LINK    %}
<head>
    {% load static %}
    <title>{% block title %}AI Arena{% endblock %}</title>
    <meta name="description" content="A StarCraft 2 AI versus AI competition">
    <meta name=”robots” content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static "style.css" %}?v={{ style_md5 }}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153791853-1"></script>

    {#Jquery cdn#}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
        integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
            integrity="sha512-gmyeCEegfMr1N1AnZecY87g+wGiL75VmB+Ne1vCVODuTnSO64BYO5vjR/M295zttO7CVfvf4R0E00To9VhIryA=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"
            integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/min/moment.min.js"
            integrity="sha512-hUhvpC5f8cgc04OZb55j0KNGh4eh7dLxd/dPSJ5VyzqDWxsayYbojWyl5Tkcgrmb/RVKCRJI1jNlRbVP4WWC4w=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@%5E1"
            integrity="sha512-hVy4KxCKgnXi2ok7rlnlPma4JHXI1VPQeempoaclV1GwRHrDeaiuS1pI6DVldaj5oh6Opy2XJ2CTljQLPkaMrQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js"
            integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css"
          integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A=="
          crossorigin="anonymous"/>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153791853-1');
    </script>

</head>

<body>
<div id="page">

    <div id="header">

        {% if public_banner_message or logged_in_banner_message and user.is_authenticated %}
            <div id="banner-message">
                <div id="banner-message-content">
                    {% if public_banner_message %}
                        <h3>
                            {{ public_banner_message }}
                        </h3>
                    {% endif %}
                    {% if logged_in_banner_message and user.is_authenticated %}
                        <h3>
                            {{ logged_in_banner_message }}
                        </h3>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% block header %}
            <img src="{% static '/img/ai-arena-logo.png' %}" alt="AI Arena Logo" class="center">
            <br>
            <h1 class="site-title">AI Arena</h1>
        {% endblock %}
    </div>


    <div id="sidebar">
        {% block sidebar %}
            <ul id="sidebar-items">
                <li>
                    <div id="sidebar-header">
                        <em class="material-icons">pages</em>
                        <h3> pages</h3>
                    </div>
                    <ul class="links">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'wiki:root' %}">{% trans "Wiki" %}</a></li>
                        <li><a href="{% url 'authors' %}">{% trans "Authors" %}</a></li>
                        <li><a href="{% url 'bots' %}">{% trans "Bots" %}</a></li>
                        <li><a href="{% url 'competitions' %}">{% trans "Competitions" %}</a></li>
                        <li><a href="{% url 'match_queue' %}">{% trans "Match Queue" %}</a></li>
                        <li><a href="{% url 'results' %}">{% trans "Results" %}</a></li>
                        <li><a href="{% url 'stream' %}">{% trans "Live Stream" %}</a></li>
                        {% if project_finance_link %}
                        <li><a href="{{ project_finance_link }}">{% trans "Project Finance" %}</a></li>
                        {% endif %}
                        <li><a href="/swagger/">{% trans "API" %}</a></li>
                    </ul>
                </li>

                <li>
                    <div id="sidebar-header">
                        <em class="material-icons">person</em>
                        <h3>user</h3>
                    </div>
                    <ul class="links">
                        {% if user.is_authenticated %}
                            <li>{% trans "Logged in" %}: {{ user.username }}</li>
                            <a id="dashboard-button" href="{% url 'dashboard' %}">⭐ Dashboard ⭐</a>
                            <br />
                            <br />
                            <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                            <li><a href="{% url 'botupload' %}">{% trans "Upload New Bot" %}</a></li>
                            <li><a href="{% url "requestmatch" %}">{% trans "Request Match" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Login/Register" %}</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if user.is_superuser %}
                    <li>
                        <div id="sidebar-header">
                            <em class="material-icons">bug_report</em>
                            <h3>admin</h3>
                        </div>
                        <ul class="links">
                            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            {% if admin_cluster_link %}
                                <li><a href="{{ admin_cluster_link }}">{% trans "Cluster" %}</a></li>
                            {% endif %}
                            {% if admin_webstats_link %}
                                <li><a href="{{ admin_webstats_link }}">{% trans "Web Stats" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                <li>
                    <div id="sidebar-header">
                        <em class="material-icons">show_chart</em>
                        <h3>stats</h3>
                    </div>
                    <ul class="links">
                        <li>Date: {% now "d. N Y" %}</li>
                        <li>Time: {% now "H:i:s" %} UTC</li>
                        {% cache 60 matches %}
                        <li>Matches (1h): {{ match_count_1h }}</li>
                        <li>Matches (24h): {{ match_count_24h }}</li>
                        <li><a href="{% url 'arenaclients' %}">Arena Clients</a>: {{ arenaclients }}</li>
                        {% endcache %}
                        <li>Build: {{ aiarena_settings.BUILD_NUMBER }}</li>
                    </ul>
                </li>

                <li>
                    <div id="sidebar-header">
                        <em class="material-icons">link</em>
                        <h3>links</h3>
                    </div>
                    <ul class="links">
                        {% if discord_invite_link %}
                            <li><a href="{{ discord_invite_link }}"> Discord <em class="material-icons md-18"
                                                                                        style="font-size: 18px; padding: 0px; padding-right:5px;">launch</em></a>
                            </li>
                        {% endif %}
                        {% if patreon_link %}
                            <li><a href="{{ patreon_link }}"> Patreon <em class="material-icons md-18"
                                                                                 style="font-size: 18px; padding: 0px;padding-right:5px;">launch</em></a>
                            </li>
                        {% endif %}
                        {% if github_link %}
                            <li><a href="{{ github_link }}"> GitHub <em class="material-icons md-18"
                                                                               style="font-size: 18px; padding: 0px;padding-right:5px;">launch</em></a>
                            </li>
                        {% endif %}
                        {% if twitch_link %}
                            <li><a href="{{ twitch_link }}"> Twitch <em class="material-icons md-18"
                                                                               style="font-size: 18px; padding: 0px;padding-right:5px;">launch</em></a>
                            </li>
                        {% endif %}
                        {% if youtube_link %}
                            <li><a href="{{ youtube_link }}"> YouTube <em class="material-icons md-18"
                                                                                 style="font-size: 18px; padding: 0px;padding-right:5px;">launch</em></a>
                            </li>
                        {% endif %}
                            <li><a href="http://archive.sc2ai.net/"> SC2 AI Archive <em class="material-icons md-18"
                                                                                       style="font-size: 18px; padding: 0px;padding-right:5px;">launch</em></a>
                            </li>
                    </ul>
                </li>
                {% if random_supporter %}
                    <li>
                        <div id="sidebar-header">
                            <em class="material-icons">favorite</em>
                            <h3>supporters</h3>
                        </div>
                        Thank you to {% get_html_link "author" random_supporter %} for your support!
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>


    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
</body>
<script>
    setInterval(function () {
        let links = document.getElementsByClassName('file-link');
        for (i = 0; i < links.length; i++) {
            let link = links[i];
            let mykey = "visited-" + link;
            if (localStorage.getItem(mykey)) {
                links[i].style.color = 'red';
            }
        }
    }, 3000);

    $(`a.file-link`).click(function () {
        $(this).css('color', 'red');

        localStorage.setItem('visited-' + this.href, true);
    });
</script>
</html>
{% endwith %}
