{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">


    <title>{% block title %}AI Arena{% endblock %}</title>


</head>

<body>
<div id="page">


    <div id="header">
        {% block header %}
        <img src="{% static '/img/ai-arena-logo.png' %}" alt="AI Arena Logo" class="center">
        <br>
        <h1 class="site-title">StarCraft II AI Arena</h1>
        {% endblock %}
</div>


      <div id="sidebar">
        {% block sidebar %}
            <ul id="sidebar-items">
                <li>
                    <div id="sidebar-header">
                    <i class="material-icons">pages</i>
                    <h3> pages</h3>
                        </div>
                    <ul class="links">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'wiki:root' %}">{% trans "Wiki" %}</a></li>
                        <li><a href="{% url 'authors' %}">{% trans "Authors" %}</a></li>
                        <li><a href="{% url 'bots' %}">{% trans "Bots" %}</a></li>
                        <li><a href="{% url 'ranking' %}">{% trans "Ranking" %}</a></li>
                        <li><a href="{% url 'seasons' %}">{% trans "Seasons" %}</a></li>
                        <li><a href="{% url 'match_queue' %}">{% trans "Match Queue" %}</a></li>
                        <li><a href="{% url 'results' %}">{% trans "Results" %}</a></li>
                        <li><a href="{% url 'stream' %}">{% trans "Live Stream" %}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'api-root' %}">{% trans "API" %}</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li>
                    <div id="sidebar-header">
                        <i class="material-icons">person</i>
                    <h3>user</h3>
                    </div>
                    <ul class="links">
                        {% if user.is_authenticated %}
                            <li>{% trans "Logged in" %}: {{ user.username }}</li>
                            <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                            <li><a href="{% url 'botupload' %}">{% trans "Bot upload" %}</a></li>
                            <li><a href="{% url "requestmatch" %}">{% trans "Request Match" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Login/Register" %}</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if user.is_staff %}
                <li>
                    <div id="sidebar-header">
                        <i class="material-icons">bug_report</i>
                    <h3>admin</h3>
                    </div>
                    <ul class="links">
                            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            <li><a href="https://m1nd.io:8006/">{% trans "Cluster" %}</a></li>
                            <li><a href="https://ai-arena.net/cgi-bin/awstats.pl">{% trans "Web Stats" %}</a></li>
                    </ul>
                </li>
                {% endif %}

                <li>
                    <div id="sidebar-header">
                        <i class="material-icons">show_chart</i>
                    <h3>stats</h3>
                    </div>
                    <ul class="links">
                        <li>Date: {% now "d. N Y" %}</li>
                        <li>Time: {% now "H:i:s" %} UTC</li>
                        <li>Matches (1h): {{ match_count_1h }}</li>
                        <li>Matches (24h): {{ match_count_24h }}</li>
                        <li>Active Bots: {{ active_bots }}</li>
                        <li><a href="{% url 'arenaclients' %}">Arena Clients</a>: {{ arenaclients }}</li>
                    </ul>
                </li>

                <li>
                    <div id="sidebar-header">
                        <i class="material-icons">link</i>
                    <h3>links</h3>
                    </div>
                    <ul class="links">
                        <li><a href="https://discord.gg/yDBzbtC"> Discord <i class="material-icons md-18" style="font-size: 18px; padding: 0px; padding-right:5px;">launch</i></a>  </li>
                        <li><a href="https://www.patreon.com/user/overview?u=19819889"> Patreon <i class="material-icons md-18" style="font-size: 18px; padding: 0px;padding-right:5px;">launch</i></a></li>
                        <li><a href="https://gitlab.com/aiarena"> GitLab <i class="material-icons md-18" style="font-size: 18px; padding: 0px;padding-right:5px;">launch</i></a></li>
                        <li><a href="https://trello.com/b/qw4DYU9H/ai-arena-website"> Trello <i class="material-icons md-18" style="font-size: 18px; padding: 0px;padding-right:5px;">launch</i></a></li>
                        <li><a href="https://www.twitch.tv/aiarenastream"> Twitch <i class="material-icons md-18" style="font-size: 18px; padding: 0px;padding-right:5px;">launch</i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC8kMGEtBoAA2PNLA8mkH9hg"> YouTube <i class="material-icons md-18" style="font-size: 18px; padding: 0px;padding-right:5px;">launch</i></a></li>
                    </ul>
                </li>
                {% if random_donator %}
                <li>
                    <div id="sidebar-header">
                    <i class="material-icons">favorite</i>
                    <h3>Supporters</h3>
                    </div>
                    Thank you to {{ random_donator.as_html_link | safe }} for your support!
                </li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
</body>

</html>
