{% extends "base.html" %}
{% load i18n core_filters wiki_tags %}
{% load render_table from django_tables2 %}


{% block content %}
<div class="bot_anker">
    <div class="anker_header"><em class="material-icons">swap_vert</em><h3>Go to:</h3></div>
    <div><a href="#bot_top_anker"><strong>Top</strong></a></div>
    <div><a href="#bot_rankings_anker"><strong>Rankings</strong></a></div>
    <div><a href="#bot_results_anker"><strong>Results</strong></a></div>
</div>
    <div id="bot_top_anker"></div>
    <div class="divider"><span></span><span><h2>{{ bot.name }}</h2></span><span></span></div>

    <div id="bot_details_bio">
        <div id="bot_details">
            <table summary="Table containing bot details">
                <thead>
                <tr>
                    <td><strong>Details</strong></td>
                    <td>
                        {% if request.user == bot.user %}
                            [<a href="{% url 'bot_edit' bot.pk %}">Edit</a>]
                        {% endif %}
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Author</strong></td>
                    <td>{{ bot.user.as_html_link }}</td>
                </tr>
                <tr>
                    <td><strong>Race</strong></td>
                    <td>{{ bot.plays_race_model.get_label_display }}</td>
                </tr>
                <tr>
                    <td><strong>Type</strong></td>
                    <td>{{ bot.get_type_display }}</td>
                </tr>
                <tr>
                    <td><strong>Bot Zip</strong></td>
                    {# Highlight red to warn super users if it's not a public download #}
                    {% if request.user.is_superuser and not request.user == bot.user and not bot.bot_zip_publicly_downloadable %}
                    <td class="private-download-warning">
                    Warning: Private download!
                    {% else %}
                    <td>
                    {% endif %}
                        {% if request.user == bot.user or bot.bot_zip_publicly_downloadable or request.user.is_superuser %}
                            <a href="{{ bot.bot_zip.url }}" download>Download</a>
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Bot data</strong></td>
                    {# Highlight red to warn super users if it's not a public download #}
                    {% if request.user.is_superuser and not request.user == bot.user and not bot.bot_data_publicly_downloadable %}
                    <td class="private-download-warning">
                    Warning: Private download!
                    {% else %}
                    <td>
                    {% endif %}
                        {% if bot.bot_data %} {# Done with two if statements because templates don't allow parentheses #}
                            {% if request.user == bot.user or bot.bot_data_publicly_downloadable or request.user.is_superuser %}
                                <a href="{{ bot.bot_data.url }}" download>Download</a>
                            {% else %}
                                --
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Created</strong></td>
                    <td>{{ bot.created|date:"d. N Y - H:i:s" }}</td>
                </tr>
                <tr>
                    <td><strong>Last Updated</strong></td>
                    <td>{{ bot.bot_zip_updated|date:"d. N Y - H:i:s" }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table summary="Table containing bot trophies">
                <thead>
                <tr>
                    <td><strong>Trophies</strong></td>
                </tr>
                </thead>
                <tbody>
                {% if bot_trophies.count > 0 %}
                    {% for trophy in bot_trophies %}
                        <tr>
                            <td>
                                {% if trophy.icon %}
                                    <img src="{{ trophy.icon.image.url }}" height=30px style="vertical-align: -0.8em;"> 
                                {% endif %}
                                {{ trophy.name }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No trophies</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            {% if user == bot.user %}
            <form action="{% url 'bot_competitions' bot.pk %}">
                <input class="join-competitions-button" type="submit" value="Join Competitions" style="margin-top: 20px; margin-left: 60px;"/>
            </form>
            {% endif %}
        </div>
        <div id="bot_bio">
            <table summary="Table containing the biography">
                <thead>
                <tr>
                    <td><strong>Biography</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div id="bot_wiki_article">
                            {% wiki_render bot.wiki_article %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="bot_rankings_anker"></div>
    <div class="divider"><span></span><span><h2>Rankings</h2></span><span></span></div>
    <div id="bot_rankings">
        <table summary="Table containing ranking information" class="row-hover-highlight">
            <thead>
            <tr>
                <td><strong>Season</strong></td>
                <td><strong>Opened</strong></td>
                <td><strong>Closed</strong></td>
                <td><strong>Division</strong></td>
                <td><strong>ELO</strong></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% if rankings.count > 0 %}
                {% for competition_participation in rankings %}
                    <tr>
                        <td>{{ competition_participation.competition.as_html_link }}</td>
                        {% if competition_participation.competition.date_opened %}
                            <td>{{ competition_participation.competition.date_opened|date:"d. N Y - H:i:s" }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        {% if competition_participation.competition.date_closed %}
                            <td>{{ competition_participation.competition.date_closed|date:"d. N Y - H:i:s" }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        {% if competition_participation.division_num > 0 %}
                            <td>{{ competition_participation.division_num }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        <td>{{ competition_participation.elo }}</td>
                        <td><a href="{% url 'bot_competition_stats' competition_participation.id competition_participation.slug %}">Stats</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No rankings</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    {% if match_participations %}
        <div id="bot_matches_anker"></div>

        <div class="divider"><span></span><span><h2>Requested or In Progress Matches</h2></span><span></span></div>

        <table summary="Table containing information about queued or in progress matches" class="row-hover-highlight">
            <thead>
            <tr>
                <td><strong>Match ID</strong></td>
                <td><strong>Bot 1</strong></td>
                <td><strong>Bot 2</strong></td>
                <td><strong>Map</strong></td>
                <td><strong>Started at</strong></td>
                <td><strong>Assigned to</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for participation in match_participations %}
                <tr>
                    <td>{{ participation.match.as_html_link }}</td>
                    {% for p in participation.match.participants %}
                        {% if p.participant_number == 1 %}
                            <td>{{ p.bot.as_truncated_html_link }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for p in participation.match.participants %}
                        {% if p.participant_number == 2 %}
                            <td>{{ p.bot.as_truncated_html_link }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ participation.match.map }}</td>
                    {% if participation.match.started %}
                        <td>{{ participation.match.started|date:"d. N Y - H:i:s" }}</td>
                    {% else %}
                        <td>queued...</td>
                    {% endif %}
                    {% if participation.match.assigned_to %}
                        <td>{{ participation.match.assigned_to.as_html_link }}</td>
                    {% else %}
                        <td>queued...</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
    {% endif %}
    <div id="bot_results_anker"></div>
    <div class="divider"><span></span><span><h2>Results</h2></span><span></span></div>
    <div id="bot_results">
        <button class="collapsible filter-form">Filters</button>
        <div class="collapsible-content filter-form" style="margin-bottom: 30px">
            <form method="get" class="flex-container" style="justify-content: left">
                {{ filter.form.non_field_errors }}
                <div class="flex-row-short" style="width: 25%">
                    {{ filter.form.opponent.errors }}
                    <label for="{{ filter.form.opponent.id_for_label }}">Opponent</label>
                    {{ filter.form.opponent }}
                </div>
                <div class="flex-row-short" style="width: 13%">
                    {{ filter.form.race.errors }}
                    <label for="{{ filter.form.race.id_for_label }}">Race</label>
                    {{ filter.form.race }}
                </div>
                <div class="flex-row-short" style="width: 13%">
                    {{ filter.form.result.errors }}
                    <label for="{{ filter.form.result.id_for_label }}">Result</label>
                    {{ filter.form.result }}
                </div>
                <div class="flex-row-short" style="width: 22%">
                    {{ filter.form.result_cause.errors }}
                    <label for="{{ filter.form.result_cause.id_for_label }}">Cause</label>
                    {{ filter.form.result_cause }}
                </div>
                <div class="flex-row-short" style="width: 20%">
                    {{ filter.form.avg_step_time.errors }}
                    <label for="{{ filter.form.avg_step_time.id_for_label }}">Avg Step (ms)</label>
                    {{ filter.form.avg_step_time }}
                </div>
                <div class="flex-row-short" style="width: 16%">
                    {{ filter.form.match_type.errors }}
                    <label for="{{ filter.form.match_type.id_for_label }}">Match Type</label>
                    {{ filter.form.match_type }}
                </div>
                <div class="flex-row-short" style="width: 24%">
                    {{ filter.form.map.errors }}
                    <label for="{{ filter.form.map.id_for_label }}">Map</label>
                    {{ filter.form.map }}
                </div>
                <div class="flex-row-short">
                    {{ filter.form.competition.errors }}
                    <label for="{{ filter.form.competition.id_for_label }}">Competition</label>
                    {{ filter.form.competition }}
                </div>
                {% include "tagsinput/tagsinput.html" with form=filter.form %}
                <div class="flex-row-short"  style="width: 35%">
                    <label for="{{ filter.form.tags_by_all.id_for_label }}">
                        {{ filter.form.tags_by_all }} Show and Search Everyone's Tags
                    </label>
                </div>
                <div class="flex-row-short">
                    <label for="{{ filter.form.tags_partial_match.id_for_label }}">
                        {{ filter.form.tags_partial_match }} Partially Match Tags
                    </label>
                </div>
                <div class="flex-row-half" style="width: 100%; padding-bottom: 25px">
                    <input id=submit-button type="submit" value="Filter" />
                </div>
            </form>
        </div>
        {% render_table results_table %}
    </div>
    <script>
        let collapsibles = document.getElementsByClassName("collapsible");
        let i;

        for (i = 0; i < collapsibles.length; i++) {
            collapsibles[i].addEventListener("click", function() {
                this.classList.toggle("collapsible-active");
                let content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock %}

