{% extends "base.html" %}
{% load i18n core_filters wiki_tags %}


{% block content %}
<div class="bot_anker">
    <div class="anker_header"><em class="material-icons">swap_vert</em><h3>Go to:</h3></div>
    <div><a href="#bot_top_anker"><strong>Top</strong></a></div>
    <div><a href="#bot_rankings_anker"><strong>Rankings</strong></a></div>
    <div><a href="#bot_results_anker"><strong>Results</strong></a></div>
</div>
    <div id="bot_top_anker"></div>
    <div class="divider"><span></span><span><h2>{{ bot.name }}</h2></span><span></span></div>

    <div id="bot_details_bio">
        <div id="bot_details">
            <table summary="Table containing bot details">
                <thead>
                <tr>
                    <td><strong>Details</strong></td>
                    <td>
                        {% if request.user == bot.user %}
                            [<a href="{% url 'bot_edit' bot.pk %}">Edit</a>]
                        {% endif %}
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Author</strong></td>
                    <td>{{ bot.user.as_html_link }}</td>
                </tr>
                <tr>
                    <td><strong>Race</strong></td>
                    <td>{{ bot.get_plays_race_display }}</td>
                </tr>
                <tr>
                    <td><strong>Type</strong></td>
                    <td>{{ bot.get_type_display }}</td>
                </tr>
                <tr>
                    <td><strong>Active</strong></td>
                    <td>{{ bot.active|pretty_bool }}</td>
                </tr>
                <tr>
                    <td><strong>Bot Zip</strong></td>
                    <td>
                        {% if request.user == bot.user or bot.bot_zip_publicly_downloadable or request.user.is_staff %}
                            <a href="{{ bot.bot_zip.url }}">Download</a>
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Bot data</strong></td>
                    <td>
                        {% if bot.bot_data %} {# Done with two if statements because templates don't allow parentheses #}
                            {% if request.user == bot.user or bot.bot_data_publicly_downloadable or request.user.is_staff %}
                                <a href="{{ bot.bot_data.url }}">Download</a>
                            {% else %}
                                --
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Created</strong></td>
                    <td>{{ bot.created|date:"d. N Y - H:i:s" }}</td>
                </tr>
                <tr>
                    <td><strong>Last Updated</strong></td>
                    <td>{{ bot.bot_zip_updated|date:"d. N Y - H:i:s" }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table summary="Table containing bot trophies">
                <thead>
                <tr>
                    <td><strong>Trophies</strong></td>
                </tr>
                </thead>
                <tbody>
                {% if bot_trophies.count > 0 %}
                    {% for trophy in bot_trophies %}
                        <tr>
                            <td>{{ trophy.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No trophies</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="bot_bio">
            <table summary="Table containing the biography">
                <thead>
                <tr>
                    <td><strong>Biography</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div id="bot_wiki_article">
                            {% wiki_render bot.wiki_article %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="bot_rankings_anker"></div>
    <div class="divider"><span></span><span><h2>Rankings</h2></span><span></span></div>
    <div id="bot_rankings">
        <table summary="Table containing ranking information" class="row-hover-highlight">
            <thead>
            <tr>
                <td><strong>Season</strong></td>
                <td><strong>Opened</strong></td>
                <td><strong>Closed</strong></td>
                <td><strong>ELO</strong></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% if rankings.count > 0 %}
                {% for season_participation in rankings %}
                    <tr>
                        <td>{{ season_participation.season.as_html_link }}</td>
                        {% if season_participation.season.date_opened %}
                            <td>{{ season_participation.season.date_opened|date:"d. N Y - H:i:s" }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        {% if season_participation.season.date_closed %}
                            <td>{{ season_participation.season.date_closed|date:"d. N Y - H:i:s" }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        <td>{{ season_participation.elo }}</td>
                        <td><a href="{% url 'bot_season_stats' season_participation.id season_participation.slug %}">Stats</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No rankings</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div id="bot_results_anker"></div>
    <div class="divider"><span></span><span><h2>Results</h2></span><span></span></div>
    <div id="bot_results">
        <table summary="Table containing bot results" class="row-hover-highlight">
            <thead>
            <td><strong>ID</strong></td>
            <td><strong>Date</strong></td>
            <td><strong>Opponent</strong></td>
            <td><strong>Result</strong></td>
            <td><strong>Cause</strong></td>
            <td><strong>+/-</strong></td>
            <td><strong>Avg Step<br/>(ms)</strong></td>
            <td><strong>Duration</strong></td>
            <td><strong>Replay</strong></td>
            {% if request.user == bot.user or request.user.is_staff %}
                <td><strong>Log</strong></td>
            {% endif %}
            </thead>
            <tbody>
            {% if result_list.paginator.count > 0 %}
                {% for result in result_list %}
                    <tr>
                        <td>{{ result.match.as_html_link }}</td>
                        <td>{{ result.created|date:"d. N Y - H:i:s" }}</td>
                        <td>{{ result.opponent.bot.as_html_link }}</td>
                        <td>{{ result.result }}</td>
                        <td>{{ result.result_cause }}</td>
                        <td>{{ result.me.elo_change |format_elo_change }}</td>
                        <td>{{ result.me.step_time_ms|floatformat:3 }}</td>
                        <td>{{ result.game_time_formatted }}</td>
                        {% if result.replay_file %}
                            <td><a class="file-link" href="{{ result.replay_file.url }}">Download</a></td>
                        {% else %}
                            <td>Unavailable</td>
                        {% endif %}
                        {% if request.user == bot.user or request.user.is_staff %}
                            {% if result.me.match_log %}
                                <td><a class="file-link" href="{{ result.me.match_log.url }}">Download</a></td>
                            {% else %}
                                <td>None</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">No results</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div class="pagination">
            {% if result_list.has_other_pages %}
                <ul class="pagination">
                    {% if result_list.has_previous %}
                        <li>
                            <a href="?page={{ result_list.previous_page_number }}#bot_results">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for page_num in results_page_range %}
                        {% if result_list.number == page_num %}
                            <li class="active"><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}#bot_results">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if result_list.has_next %}
                        <li><a href="?page={{ result_list.next_page_number }}#bot_results">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

