{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"><span></span><span><h2>Edit Bot</h2></span><span></span></div>
    <div class="registration-form">
        <h2><em class="material-icons" style="font-size: 48px; vertical-align: -0.35em;">edit</em>{{ bot.as_html_link }}
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Bot zip:<br/>
                {{ form.bot_zip }}<br/>
                Publicly downloadable: {{ form.bot_zip_publicly_downloadable }}
                {{ form.bot_zip.errors }}
            </p>
            <p>Bot data:<br/>
                {{ form.bot_data }}<br/>
                Enabled: {{ form.bot_data_enabled }}<br/>
                Publicly downloadable: {{ form.bot_data_publicly_downloadable }}
                {{ form.bot_data.errors }}
            </p>
            <h3>Bot page content</h3>
            <p>
                {{ form.wiki_article_content }}
                <a href="https://demo.django-wiki.org/#wiki-toc-markdown-syntax">Markdown Syntax <em
                        class="material-icons md-18" style="font-size: 18px;">launch</em></a>
            </p>
            {% if object.bot_data_is_currently_frozen %}
                <p>NOTE: This bot is currently in a match. Bot data cannot be altered at this time.</p>
            {% endif %}
            <br/>
            <input id="submit-button" type=submit value="Save"/>
        </form>

    </div>

{% endblock %}
