{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"><span></span><span><h2>Edit Bot</h2></span><span></span></div>
    <div class="registration-form">
        <h2 ><i class="material-icons" style="font-size: 48px; vertical-align: -0.35em;;">edit</i>{{ bot.as_html_link }}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><a href="https://demo.django-wiki.org/#wiki-toc-markdown-syntax">Markdown Syntax <i class="material-icons md-18" style="font-size: 18px;">launch</i></a></p>
                    {% if object.bot_data_is_currently_frozen %}
                        <p>NOTE: This bot is currently in a match. Bot data cannot be altered at this time.</p>
                    {% endif %}

                    <input id="submit-button" type=submit value="Save"/>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>

    </div>

{% endblock %}
