{% extends "base.html" %}
{% load i18n url_utils %}

{% block content %}
    <div class="divider"><span></span><span><h2>{{ bot.name }}: Competitions</h2></span><span></span></div>
    <div class="join-competition-form">
        <form method="post">
            {% csrf_token %}
            <table id="joinCompetitionTable">
                <tbody>
                <tr>
                    <td style="width: 100%">{{ form.as_p }}</td>
                    <td><input id="submit-button" type=submit value="Join"/></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br/>
    <table id="competitionsTable" class="row-hover-highlight">
        <thead>
        <td><strong>Competition</strong></td>
        <td><strong>Active</strong></td>
        <td></td>
        </thead>
        <tbody>
        {% for cp in competitionparticipation_list %}
            <tr>
                <td>{% get_html_link "competition" cp.competition %}</td>
                <td>{{ cp.active }}</td>
                <td><a href="{% url 'bot_competition_edit' bot.id cp.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
