{% extends "base.html" %}
{% load i18n core_filters wiki_tags humanize url_utils %}


{% block content %}
    <div class="divider">
        <span></span><span><h2>{% get_html_link "bot" competitionparticipation.bot %} - {% get_html_link "competition" competitionparticipation.competition.as_html_link %} stats</h2></span><span></span>
    </div>
    <div class="stats_and_graphs">
        <div id="bot_competition_stats">
            <table summary="Table containing competition participation information" style="text-align: right">
                <thead>
                <tr style="text-align: center">
                    <td colspan="3"><strong>Stats</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr class="mono">
                    <td>Generated</td>
                    <td colspan="2">{{ updated|naturaltime|shorten_naturaltime }}</td>
                </tr>
                <tr class="mono">
                    <td>Current ELO</td>
                    <td>{{ competitionparticipation.elo }}</td>
                    <td></td>
                </tr>
                <tr class="mono">
                    <td>Highest ELO</td>
                    {% if competitionparticipation.highest_elo != None %}
                        <td>{{ competitionparticipation.highest_elo }}</td>
                        <td></td>
                    {% else %}
                        <td colspan="2">No stats</td>
                    {% endif %}
                </tr>
                <tr class="mono">
                    <td>Matches</td>
                    <td>{{ competitionparticipation.match_count }}</td>
                    <td></td>
                </tr>
                <tr class="mono">
                    <td>Wins</td>
                    {% if competitionparticipation.win_perc != None %}
                        <td>{{ competitionparticipation.win_count }}</td>
                        <td>{{ competitionparticipation.win_perc|floatformat:2 }}%</td>
                    {% else %}
                        <td colspan="2">No stats</td>
                    {% endif %}
                </tr>
                <tr class="mono">
                    <td>Losses</td>
                    {% if competitionparticipation.loss_perc != None %}
                        <td>{{ competitionparticipation.loss_count }}</td>
                        <td>{{ competitionparticipation.loss_perc|floatformat:2 }}%</td>
                    {% else %}
                        <td colspan="2">No stats</td>
                    {% endif %}
                </tr>
                <tr class="mono">
                    <td>Ties</td>
                    {% if competitionparticipation.tie_perc != None %}
                        <td>{{ competitionparticipation.tie_count }}</td>
                        <td>{{ competitionparticipation.tie_perc|floatformat:2 }}%</td>
                    {% else %}
                        <td colspan="2">No stats</td>
                    {% endif %}
                </tr>
                <tr class="mono">
                    <td>Crashes</td>
                    {% if competitionparticipation.crash_perc != None %}
                        <td>{{ competitionparticipation.crash_count }}</td>
                        <td>{{ competitionparticipation.crash_perc|floatformat:2 }}%</td>
                    {% else %}
                        <td colspan="2">No stats</td>
                    {% endif %}
                </tr>

                </tbody>
            </table>
            <br/>
        </div>
        <div id="bot_competition_stats_graphs" style="width: 50%;height: 100%;">
            <div class="statSlides">
                <div id="elo_graph">
                    <canvas id="eloChart"></canvas>
                </div>
            </div>
            <div class="statSlides">
                <div id="elo_graph">
                    <canvas id="winrateChart"></canvas>
                </div>
            </div>
            <div class="slide-selector">
                <span class="slide-select" id="statSlideSelect" onclick="selectSlide(1)"></span>
                <span class="slide-select" id="statSlideSelect" onclick="selectSlide(2)"></span>
            </div>
        </div>
    </div>
    <div class="divider"><span></span><span><h2>Maps</h2></span><span></span></div>
    <div id="bot_competition_stats_list">
        <table summary="Table containing matchup information" class="row-hover-highlight">
            <thead>
            <tr>
                <td><strong>Map</strong></td>
                <td><strong>Matches</strong></td>
                <td><strong>Win</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Loss</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Tie</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Crash</strong></td>
                <td><strong>%</strong></td>
            </tr>
            </thead>
            <tbody>
            {% if competition_map_stats|length > 0 %}
                {% for map_stat in competition_map_stats %}
                    <tr style="text-align: right">
                        <td class="mono">{{map_stat.map.name}}</td>
                        <td class="mono">{{map_stat.match_count}}</td>
                        <td class="mono">{{ map_stat.win_count }}</td>
                        {% if map_stat.match_count > 0 %}
                            <td class="mono">{{ map_stat.win_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ map_stat.loss_count }}</td>
                        {% if map_stat.match_count > 0 %}
                            <td class="mono">{{ map_stat.loss_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ map_stat.tie_count }}</td>
                        {% if map_stat.match_count > 0 %}
                            <td class="mono">{{ map_stat.tie_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ map_stat.crash_count }}</td>
                        {% if map_stat.match_count > 0 %}
                            <td class="mono">{{ map_stat.crash_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">No stats</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="divider"><span></span><span><h2>Matchups</h2></span><span></span></div>
    <div id="bot_competition_stats_list">
        <table summary="Table containing matchup information" class="row-hover-highlight">
            <thead>
            <tr>
                <td style="text-align: right"><strong>Opponent</strong></td>
                <td style="text-align: left"><strong>Race</strong></td>
                <td><strong>Matches</strong></td>
                <td><strong>Win</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Loss</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Tie</strong></td>
                <td><strong>%</strong></td>
                <td><strong>Crash</strong></td>
                <td><strong>%</strong></td>
            </tr>
            </thead>
            <tbody>
            {% if competition_bot_matchups|length > 0 %}
                {% for bot_matchup in competition_bot_matchups %}
                    <tr style="text-align: right">
                        <td style="text-align: right">{% get_bot_truncated_html_link bot_matchup.opponent.bot %}</td>
                        <td class="mono"
                            style="text-align: left">{{ bot_matchup.opponent.bot.plays_race.get_label_display }}</td>
                        <td class="mono">{{ bot_matchup.match_count }}</td>
                        <td class="mono">{{ bot_matchup.win_count }}</td>
                        {% if bot_matchup.match_count > 0 %}
                            <td class="mono">{{ bot_matchup.win_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ bot_matchup.loss_count }}</td>
                        {% if bot_matchup.match_count > 0 %}
                            <td class="mono">{{ bot_matchup.loss_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ bot_matchup.tie_count }}</td>
                        {% if bot_matchup.match_count > 0 %}
                            <td class="mono">{{ bot_matchup.tie_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                        <td class="mono">{{ bot_matchup.crash_count }}</td>
                        {% if bot_matchup.match_count > 0 %}
                            <td class="mono">{{ bot_matchup.crash_perc|floatformat:2 }}</td>
                        {% else %}
                            <td class="mono">N/A</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="11">No stats</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br/>
    </div>
    <script>

        $(document).ready(function(){
            let eloChartCtx = document.getElementById("eloChart").getContext("2d");

            let eloChart = new Chart(eloChartCtx, {
                type: "line",
                options: {
                    parsing: false,
                    aspectRatio: 1,
                    responsive: true,
                    pointRadius: 0,
                    pointHitRadius: 10,
                    borderWidth: 1,
                    scales: {
                        x: {
                           type: 'time',
                           display: true,
                        },
                        y: {
                            ticks: {
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            },
                        }
                    },
                    plugins: {
                        decimation: {
                            enabled: true,
                            algorithm: 'lttb',
                            samples: 500,
                        },
                        annotation: {
                            annotations: {
                                noDataAvailableLabel: {
                                    type: 'label',
                                    display: false,
                                    backgroundColor: 'rgba(245,245,245)',
                                    content: ["This data is no longer available"],
                                    font: {
                                        size: 18
                                    }
                                },
                                updateLine: {
                                    type: "line",
                                    borderDash: [6,3],
                                    mode: "vertical",
                                    display: false,
                                    scaleID: "x",
                                    value: "",
                                    endValue: "",
                                    borderColor: "red",
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        display: true,
                                        content: "Updated",
                                        color: '#86c232',
                                        position: 'top'
                                    }
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: ""
                        }
                    }
                }
            });

            let winrateChartCtx = document.getElementById("winrateChart").getContext("2d");
            let winrateChart = new Chart(winrateChartCtx, {
                type: "bar",
                plugins: [ChartDataLabels],
                options: {
                    aspectRatio: 1,
                    responsive: true,
                    plugins: {
                        annotation: {
                            annotations: {
                                    noDataAvailableLabel: {
                                        type: 'label',
                                        display: false,
                                        backgroundColor: 'rgba(245,245,245)',
                                        content: ["This data is no longer available"],
                                        font: {
                                            size: 18
                                        }
                                    },

                            }
                        },
                        title: {
                            display: true,
                            text: ""
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return [context.formattedValue, context.dataset.extraLabels[context.dataIndex]];
                                },
                            }
                        },
                        datalabels: {
                            color: 'white',
                            display: "auto",
                            font: {
                            weight: 'bold'
                            },
                            formatter: function(value, context) {
                                return context.dataset.extraLabels[context.dataIndex];
                            }
                        }
                    },
                    scales: {
                        x: {
                            stacked: true,

                        },
                        y: {
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            },
                            stacked: true
                        }
                        }
                }
            });

            var competitionClosed = '{{ competition_closed|escapejs }}' ==="True"
            if (!competitionClosed){
                var eloChartJsonResponse = JSON.parse('{{ elo_chart_data|escapejs }}');
                // Reset the current chart
                eloChart.data.datasets = [];
                eloChart.data.labels = [];
                // Load new data into the chart
                eloChart.options.plugins.title.text = eloChartJsonResponse.title;
                eloChart.options.plugins.title.display = true;
                eloChart.data.labels = eloChartJsonResponse.data.labels;
                eloChart.data.labels2 = eloChartJsonResponse.data.labels;
                eloChartJsonResponse.data.datasets.forEach(dataset => {
                    eloChart.data.datasets.push(dataset);
                });

                if (eloChartJsonResponse.lastUpdated != null){
                    eloChart.options.plugins.annotation.annotations.updateLine.value = eloChartJsonResponse.lastUpdated;
                    eloChart.options.plugins.annotation.annotations.updateLine.endValue = eloChartJsonResponse.lastUpdated;
                    eloChart.options.plugins.annotation.annotations.updateLine.display = true;
                    eloChart.options.plugins.annotation.annotations.updateLine.label.content = ["Last Update:", moment.utc(eloChartJsonResponse.lastUpdated).format('MMM-DD')];//new Date(eloChartJsonResponse.lastUpdated).toDateString();
                }

                var winrateChartJsonResponse = JSON.parse('{{ winrate_chart_data|escapejs }}');
                // Reset the current chart
                winrateChart.data.datasets = [];
                winrateChart.data.labels = [];

                // Load new data into the chart
                winrateChart.options.plugins.title.text = winrateChartJsonResponse.title;
                winrateChart.options.plugins.title.display = true;
                winrateChart.data.labels = winrateChartJsonResponse.data.labels;
                winrateChartJsonResponse.data.datasets.forEach(dataset => {
                    winrateChart.data.datasets.push(dataset);
                });
            }
            eloChart.options.plugins.annotation.annotations.noDataAvailableLabel.display = competitionClosed;
            eloChart.update();


            winrateChart.options.plugins.annotation.annotations.noDataAvailableLabel.display = competitionClosed;
            winrateChart.update();
        })

        var slideIndex = 1;
        showSlides(slideIndex);

        function selectSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("statSlides");
            var dots = document.querySelectorAll('[id=statSlideSelect]');
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
{% endblock %}

