{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"><span></span><span><h2>{{ object }}</h2></span><span></span></div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="edit-competition-participation-form">
        <form method="post">
            {% csrf_token %}
            <table id="joinCompetitionTable">
                <tbody>
                <tr>
                    <td style="width: 100%">{{ form.as_p }}</td>
                    <td><input id="submit-button" type=submit value="Save"/></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}
