{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"><span></span><span><h2>Edit Bot</h2></span><span></span></div>
    <div class="registration-form">
        <h2><em class="material-icons" style="font-size: 48px; vertical-align: -0.35em;;">edit</em>{{ bot.as_html_link }}
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Melee Ladder</h3>
            <p>Active: {{ form.active }}</p>
            <p>Bot zip:<br/>
                {{ form.bot_zip }}<br/>
                Publicly downloadable: {{ form.bot_zip_publicly_downloadable }}</p>
            <p>Bot data:<br/>
                {{ form.bot_data }}<br/>
                Publicly downloadable: {{ form.bot_data_publicly_downloadable }}</p>
            {% if object.is_probots_participant %}
                {% if config.PROBOTS_SUBMISSION_DEADLINE < now %}
                    <h4>ProBots submissions are currently closed.</h4>
                {% else %}
                    <h3>ProBots</h3>
                    <h4>Next ProBots submission
                        deadline: {{ config.PROBOTS_SUBMISSION_DEADLINE|date:"d. N Y - H:i:s" }}
                        UTC</h4>
                    <p>Probots bot zip:<br/>
                        {{ form.probots_bot_zip }}</p>
                    <p>Probots bot source/change log zip:<br/>
                        {{ form.probots_bot_source }}</p>
                    <p>Probots bot data zip:<br/>
                        {{ form.probots_bot_data }}</p>
                {% endif %}
            {% endif %}
            <h3>Bot page content</h3>
            <p>
                {{ form.wiki_article_content }}
                <a href="https://demo.django-wiki.org/#wiki-toc-markdown-syntax">Markdown Syntax <em
                        class="material-icons md-18" style="font-size: 18px;">launch</em></a>
            </p>
            {% if object.bot_data_is_currently_frozen %}
                <p>NOTE: This bot is currently in a match. Bot data cannot be altered at this time.</p>
            {% endif %}
            <br/>
            <input id="submit-button" type=submit value="Save"/>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>

    </div>

{% endblock %}
