{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="divider"><span></span><span><h2>Bots</h2></span><span></span></div>
    <table id="botsTable" class="row-hover-highlight">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Author</strong></td>
        <td><strong>Race</strong></td>
        <td><strong>Type</strong></td>
        <td><strong>Active</strong></td>
        </thead>
        <tbody>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.as_html_link }}</td>
                <td>{{ bot.user.as_html_link }}</td>
                <td>{{ bot.get_plays_race_display }}</td>
                <td>{{ bot.type }}</td>
                <td>{{ bot.active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ bot_list.page_obj }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for page_num in page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="active"><span>{{ page_num }}</span></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
