{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="divider"><span></span><span><h2>Bot Upload</h2></span><span></span></div>
<div class="registration-form">
   <h2><em class="material-icons" style="font-size: 48px; vertical-align: -0.35em;">cloud_upload</em> Submit your bot here: </h2>

    {% if config.ALLOW_REQUESTED_MATCHES %}
    <form method="post" style="font-size: 16px;" action="{% url "botupload" %}" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}

        <input id="submit-button" type="submit" value="{% trans 'Upload' %}"/>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
    {% else %}
        <h3>Sorry. bot uploads are currently disabled.</h3>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
