{% extends "base.html" %}
{% load i18n core_filters wiki_tags %}

{% block content %}

    <div class="divider"><span></span><span><h2>{{ competition.name }}</h2></span><span></span></div>
    <div id="inner_content">
        <div id="competition_details_description">
            <div id="competition_details">
                <table summary="Table containing competition details">
                    <thead>
                    <tr>
                        <td><strong>Details</strong></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Created</strong></td>
                        <td>{{ competition.date_created|date:"d. N Y - H:i:s" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Opened</strong></td>
                        <td>
                            {% if competition.date_opened %}
                                {{ competition.date_opened|date:"d. N Y - H:i:s" }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Closed</strong></td>
                        <td>
                            {% if competition.date_closed %}
                                {{ competition.date_closed|date:"d. N Y - H:i:s" }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{ competition.get_status_display }}</td>
                    </tr>
                    </tbody>
                </table>
                <br />
                <table summary="Table containing associated maps">
                    <thead>
                    <tr>
                        <td><strong>Maps</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for map_name in map_names %}
                            <tr>
                                <td>{{ map_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="competition_description">
                <table summary="Table containing the competition description">
                    <thead>
                    <tr>
                        <td><strong>Description</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div id="competition_wiki_article">
                                {% wiki_render competition.wiki_article %}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="divider"><span></span><span><h2>Rankings</h2></span><span></span></div>
        {% for div_title, division in divisions.items %}
            <div class="divider" style='width:50%'><span></span><span><h2>{{div_title}}</h2></span><span></span></div>
            <table summary="Table containing rankings" id="competition_ranking_table">
                <thead>
                <tr>
                    <td style="text-align: center"><strong>Rank</strong></td>
                    <td></td>
                    <td><strong>Name</strong></td>
                    <td><strong>Race</strong></td>
                    <td><strong>Author</strong></td>
                    <td><strong>Type</strong></td>
                    <td><strong>Win %</strong></td>
                    <td><strong>ELO</strong></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% if division|length > 0 %}
                    {% for participant in division %}
                        <tr>
                            <td style="padding-right: 0; text-align: center">{{ forloop.counter }}</td>
                            <td style="padding-right: 0">
                                {% if participant.bot.user.patreon_level != 'none' %}
                                    <div class="bot-icon-{{ participant.bot.user.patreon_level }}" style="padding-right: 0; float: right" title="{{ participant.bot.user.get_patreon_level_display }} supporter"></div>
                                {% endif %}
                            </td>
                            <td>
                                {{ participant.bot.as_truncated_html_link }}
                            </td>
                            <td>{{ participant.bot.plays_race.get_label_display }}</td>
                            <td>{{ participant.bot.user.as_html_link }}</td>
                            <td>{{ participant.bot.type }}</td>
                            {% if participant.win_perc %}
                                <td>{{ participant.win_perc|floatformat:2 }}</td>
                            {% else %}
                                <td>No stats</td>
                            {% endif %}
                            <td>
                                {% if participant.in_placements %}
                                    Placements
                                {% else %}
                                    {{ participant.elo }}
                                    {% bot_competition_trend participant.bot competition as trend %}
                                        {% if trend > 40 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; transform: rotate(-90deg);" title="ELO gained {{trend}} in the last 30 games">
                                                trending_flat
                                            </em>
                                        {% elif trend < -40 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; transform: rotate(90deg);" title="ELO changed {{trend}} in the last 30 games">
                                                trending_flat
                                            </em>
                                        {% elif trend > 15 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO gained {{trend}} in the last 30 games">
                                                trending_up
                                            </em>
                                        {% elif trend < -15 %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO changed {{trend}} in the last 30 games">
                                                trending_down
                                            </em>
                                        {% else %}
                                            <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO changed {{trend}} in the last 30 games">
                                                trending_flat
                                            </em>
                                        {% endif %}
                                {% endif %}
                            </td>
                            <td><a href="{% url 'bot_competition_stats' participant.id participant.slug %}">Stats</a></td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="8">No participants</td>
                {% endif %}

                </tbody>
            </table>
        {% endfor %}


        {% if not competition.competition_finalized %}
        <br>
        <div class="divider"><span></span><span><h2>Rounds</h2></span><span></span></div>
        <table summary="Table containing information about the rounds" id="matches_table" style="min-width: 900px; margin: 0 auto;">
            <tbody>
            <thead>
            <td><strong>Round #</strong></td>
            <td><strong>Started at</strong></td>
            <td><strong>Finished at</strong></td>
            </thead>
            {% for round in round_list %}
                <tr>
                    <td>{{ round.as_html_link }}</td>
                    {% if competition.date_opened %}
                        <td>{{ round.started|date:"d. N Y - H:i:s" }}</td>
                    {% else %}
                        <td>--</td>
                    {% endif %}
                    {% if competition.date_opened %}
                        <td>{{ round.finished|date:"d. N Y - H:i:s" }}</td>
                    {% else %}
                        <td>--</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <div class="pagination">
            {% if round_list.has_other_pages %}
                <ul class="pagination">
                    {% if round_list.has_previous %}
                        <li>
                            <a href="?page={{ round_list.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for page_num in round_page_range %}
                        {% if round_list.number == page_num %}
                            <li class="active"><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if round_list.has_next %}
                        <li><a href="?page={{ round_list.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
