{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="divider"><span></span><span><h2>Welcome to the AI-Arena!</h2></span><span></span></div>
    <div id="rules-short">
        <div><h2>Season 2 has started! Want to join the battle?</h2></div>
        <br/>
        <div id="rules-short-instructions">
            <div class="rules-short-instructions-content">

                <span><h3><em class="material-icons">assignment</em>Instructions</h3></span><br/><br/>
                <ol>
                    <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                    <li>Read the <a href="{{ config.GETTING_STARTED_URL }}">Getting Started</a> guide</li>
                    <li>Upload your Bot to the Website and activate it</li>
                </ol>
                <div>Your Bot will be added to the pool and starts fighting other Bots on the Ladder.</div>
            </div>
        </div>
    </div>

    <div class="float-half-left">
        <div class="divider"><span></span><span><h2>What is AI Arena?</h2></span><span></span></div>
        <div id="whatisaiarena">
            The AI Arena ladder provides an environment where Scripted and Deep Learning AIs fight in Starcraft 2.<br/>
            <br/>
            Matches are run 24/7 and <a href="{% url 'stream' %}">streamed</a> to various live-stream platforms.
        </div>
        <div class="divider"><span></span><span><h2>Problems?</h2></span><span></span></div>
        <div id="problems">
            Any problems with the website can be reported in our <a href="https://discord.gg/yDBzbtC">Discord</a>.
        </div>
        <div class="divider"><span></span><span><h2>Want to help out?</h2></span><span></span></div>
        <div id="contribute">
            Refer to the <a href="https://ai-arena.net/wiki/contribute/">wiki</a> on ways to contribute.
        </div>
        <div class="divider"><span></span><span><h2>New bots</h2></span><span></span></div>
        <div id="top10">
            <table id="NewBotsTable" cellpadding="2px" style="min-width: 400px; text-align: justify">
                <thead>
                    <tr>
                        <td><strong>Date</strong></td>
                        <td></td>
                        <td><strong>Bot</strong></td>
                    </tr>
                </thead>
                <tbody>
                {% for bot in new_bots %}
                    <tr>
                        <td>{{ bot.created|date:"d. N Y - H:i:s" }}</td>
                        <td style="padding-right: 0">
                            {% if bot.user.patreon_level != 'none' %}
                                <div class="bot-icon-{{ bot.user.patreon_level }}" style="padding-right: 0; float: right" title="{{ participant.bot.user.get_patreon_level_display }} supporter"></div>
                            {% endif %}
                        </td>
                        <td>{{ bot.as_html_link }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br> <!-- extra space -->

        </div>
        <br> <!-- extra space -->
        <div class="divider-full div-transparent-full "></div>
    </div>
    <div class="float-half-right">
        <div class="divider"><span></span><span><h2>Top 10 bots</h2></span><span></span></div>
        <div id="top10">
            <table id="resultsTable" cellpadding="2px" style="min-width: 400px; text-align: justify">
                <thead>
                <td style="text-align: center"><strong>Rank</strong></td>
                <td></td>
                <td><strong>Name</strong></td>
                <td><strong>ELO</strong></td>
                </thead>
                <tbody>
                {% for participant in object_list %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter }}</td>
                        <td style="padding-right: 0">
                            {% if participant.bot.user.patreon_level != 'none' %}
                                <div class="bot-icon-{{ participant.bot.user.patreon_level }}" style="padding-right: 0; float: right" title="{{ participant.bot.user.get_patreon_level_display }} supporter"></div>
                            {% endif %}
                        </td>
                        <td>{{ participant.bot.as_html_link }}</td>
                        <td>{{ participant.elo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br> <!-- extra space -->

        </div>
        <div class="divider"><span></span><span><h2>Recently updated</h2></span><span></span></div>
        <div id="top10">
            <table id="recentlyUpdatedTable" cellpadding="2px" style="min-width: 400px; text-align: justify">
                <thead>
                <td><strong>Date</strong></td>
                <td></td>
                <td><strong>Bot</strong></td>
                </thead>
                <tbody>
                {% for bot in recently_updated_bots %}
                    <tr>
                        <td>{{ bot.bot_zip_updated|date:"d. N Y - H:i:s" }}</td>
                        <td style="padding-right: 0">
                            {% if bot.user.patreon_level != 'none' %}
                                <div class="bot-icon-{{ bot.user.patreon_level }}" style="padding-right: 0; float: right" title="{{ participant.bot.user.get_patreon_level_display }} supporter"></div>
                            {% endif %}
                        </td>
                        <td>{{ bot.as_html_link }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br> <!-- extra space -->

        </div>
        <div class="divider-full div-transparent-full "></div>
    </div>
{% endblock %}
