{% extends "base.html" %}
{% load i18n core_filters humanize %}
{% block content %}

    <div class="divider"><span></span><span><h2>Welcome to SC2 AI Arena!</h2></span><span></span></div>
    <div id="rules-short">
        <div id="rules-short-instructions">
            <div class="rules-short-instructions-content">

                <span><h3><em class="material-icons">assignment</em>Instructions</h3></span><br/><br/>
                <ol>
                    <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                    <li>Read the <a href="{{ config.GETTING_STARTED_URL }}">Getting Started</a> guide</li>
                    <li>Upload your Bot to the Website and activate it</li>
                </ol>
                <div>Your Bot will be added to the pool and starts fighting other Bots on the Ladder.</div>
            </div>
        </div>
    </div>

    <div class="float-half-left">
        <div class="divider"><span></span><span><h2>What is SC2 AI Arena?</h2></span><span></span></div>
        <div id="whatisaiarena">
            The SC2 AI Arena ladder provides an environment where Scripted and Deep Learning AIs fight in Starcraft 2.<br/>
            <br/>
            Matches are run 24/7 and <a href="{% url 'stream' %}">streamed</a> to various live-stream platforms.
        </div>
        <div class="divider"><span></span><span><h2>Problems?</h2></span><span></span></div>
        <div id="problems">
            Any problems with the website can be reported in our
            {% if discord_invite_link %}
                <a href="{{ discord_invite_link }}">Discord</a>.
            {% else %}
                Discord.
            {% endif %}
        </div>
        <div class="divider"><span></span><span><h2>Want to help out?</h2></span><span></span></div>
        <div id="contribute">
            Refer to the <a href="https://aiarena.net/wiki/contribute/">wiki</a> on ways to contribute.
        </div>
        <div id="news_feed">
            <div class="divider"><span></span><span><h2>News</h2></span><span></span></div>
            {% for new in news %}
                <div class="newSlides">
                    <div>
                        <table summary="Table containing news" id="newsTable" cellpadding="2px" style="min-width: 400px; text-align: justify">
                            <thead>
                                <th><strong>{{ new }}</strong></th>
                            </thead>
                            <tbody>
                                {% if new.title %}
                                    <tr style="background-color: rgba(0, 0, 0, 0.1);">
                                        <td>{{ new.get_date }}</td>
                                    </tr>
                                {% endif %}
                                <tr style="background-color: rgba(0, 0, 0, 0.1);">
                                    <td>{{ new.text }}</td>
                                </tr>
                                {% if new.yt_link %}
                                    <tr style="background-color: rgba(0, 0, 0, 0.1);">
                                        <td>
                                            <div class="yt-wrapper"  >
                                                <div class="youtube" data-embed="{{ new.yt_link }}">
                                                    <div class="play-button"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            <br> <!-- extra space -->
            <div class="slide-selector">
                {% for new in news %}
                    <span class="slide-select" id="newsSlideSelect" onclick="selectSlide({{ forloop.counter }})"></span>
                {% endfor %}
            </div>
        </div>        
        <div class="divider-full div-transparent-full "></div>
    </div>

    <div class="float-half-right">
        <div class="divider"><span></span><span><h2>Where is the old sc2ai.net website?</h2></span><span></span></div>
        <div id="whathappenedtosc2ai">
            SC2 AI and AI Arena have merged to become SC2 AI Arena. The SC2 AI ladder now runs on the AI Arena infrastructure.<br/>
            <br/>
            The old sc2ai.net website can be accessed at <a href="http://archive.sc2ai.net/">archive.sc2ai.net</a>
        </div>
        {% if competitions %}
            <div id="competition_feed">
                <div class="divider"><span></span><span><h2>Competitions</h2></span><span></span></div>
                {% for item in competitions %}
                    <div class="compSlides">
                        <div>
                            <div style="text-align: center"><h3>{{ item.competition.as_html_link }}</h3></div>
                            <table summary="Table containing the top10 bots" id="resultsTable" cellpadding="2px" style="min-width: 400px; text-align: justify">
                                <thead>
                                <td style="text-align: center"><strong>Rank</strong></td>
                                <td></td>
                                <td><strong>Name</strong></td>
                                <td><strong>DIV</strong></td>
                                <td><strong>ELO</strong></td>
                                </thead>
                                <tbody>                                    
                                    {% for participant in item.top10 %}
                                        <tr>
                                            <td style="text-align: center">{{ forloop.counter }}</td>
                                            <td style="padding-right: 0">
                                                {% if patreon_level != 'none' %}
                                                    <div class="bot-icon-{{ participant.bot.user.patreon_level }}" style="padding-right: 0; float: right" title="{{ participant.bot.user.get_patreon_level_display }} supporter"></div>
                                                {% endif %}
                                            </td>
                                            <td>{{ participant.bot.as_truncated_html_link }}</td>
                                            <td style="text-align: center">{{ participant.division_num }}</td>
                                            <td>
                                                {{ participant.elo }}                                          
                                                {% with trend=participant.trend %}
                                                    {% if trend > 40 %}
                                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; transform: rotate(-90deg);" title="ELO gained {{trend}} in the last 30 games">
                                                            trending_flat
                                                        </em>
                                                    {% elif trend < -40 %}
                                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em; transform: rotate(90deg);" title="ELO changed {{trend}} in the last 30 games">
                                                            trending_flat
                                                        </em>
                                                    {% elif trend > 15 %}
                                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO gained {{trend}} in the last 30 games">
                                                            trending_up
                                                        </em>
                                                    {% elif trend < -15 %}
                                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO changed {{trend}} in the last 30 games">
                                                            trending_down
                                                        </em>
                                                    {% else %}
                                                        <em class="material-icons" style="padding: 0; margin:0; vertical-align: -0.3em;" title="ELO changed {{trend}} in the last 30 games">
                                                            trending_flat
                                                        </em>
                                                    {% endif %}
                                                    {% endwith %}
                                            </td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                <br> <!-- extra space -->
                <div class="slide-selector">
                    {% for item in competitions %}
                        <span class="slide-select" id="compSlideSelect" onclick="selectCompSlide({{ forloop.counter }})"></span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="activity_feed">
            <div class="divider"><span></span><span><h2>Activity</h2></span><span></span></div>
        <table>
        <thead>
        <td style="text-align: center"><strong>Time</strong></td>
        <td><strong>Event</strong></td>
        </thead>
            {% for event in events %}
                <tr>
                {# newly created bots have same update time as its creation time #}
                {% if event.is_created_event %}
                    <td nowrap>{{ event.bot_zip_updated|naturaltime|shorten_naturaltime }}</td>
                    <td style="text-align: left">{{ event.user.as_html_link }} uploaded a new bot: {{ event.as_truncated_html_link }}.</td>
                {% else %}
                    <td nowrap>{{ event.bot_zip_updated|naturaltime|shorten_naturaltime }}</td>
                    <td style="text-align: left">Bot {{ event.as_truncated_html_link }} was updated.</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div>
        <div class="divider-full div-transparent-full "></div>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function selectSlide(n) {
            showSlides(slideIndex = n);
        }

        ( function() {

            var youtube = document.querySelectorAll( ".youtube" );

            for (var i = 0; i < youtube.length; i++) {
                var embed = youtube[i].dataset.embed.match(/[\w\-]{11,}/)[0];
                var source = "https://img.youtube.com/vi/"+ embed+"/sddefault.jpg";
                
                var image = new Image();
                        image.src = source;
                        image.width=420;
                        image.height=215;
                        image.addEventListener( "load", function() {
                            youtube[ i ].appendChild( image );
                        }( i ) );
                
                        youtube[i].addEventListener( "click", function() {
                            var embed = this.dataset.embed.match(/[\w\-]{11,}/)[0];
                            var iframe = document.createElement( "iframe" );

                                    iframe.setAttribute( "frameborder", "0" );
                                    iframe.setAttribute( "allowfullscreen", "" );
                                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ embed +"?rel=0&showinfo=0&autoplay=1" );

                                    this.innerHTML = "";
                                    this.appendChild( iframe );
                        } );	
            };

            } )();
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("newSlides");
            var dots = document.querySelectorAll('[id=newsSlideSelect]');
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }

        var compSlideIndex = 1;
        showCompSlides(compSlideIndex);

        function selectCompSlide(n) {
            showCompSlides(compSlideIndex = n);
        }

        function showCompSlides(n) {
            var i;
            var slides = document.getElementsByClassName("compSlides");
            var dots = document.querySelectorAll('[id=compSlideSelect]');
            if (n > slides.length) {compSlideIndex = 1}
            if (n < 1) {compSlideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[compSlideIndex-1].style.display = "block";
            dots[compSlideIndex-1].className += " active";
        }
    </script>
{% endblock %}
