{% extends "base.html" %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="divider"><span></span><span><h2>AI Arena is currently under maintenance</h2></span><span></span></div>
    <div id="inner_content">
        <center>
            AI Arena is currently under scheduled technical maintenance. <br />
            We are upgrading our systems to improve site performance and reliability.<br />
            Please check back in a while. It shouldn't take longer than 60 minutes.
        </center>
    </div>
{% endblock %}
