{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block content %}
    <div class="divider"><span></span><span><h2>Profile</h2></span><span></span></div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="author_detail">
        <div class="author-details-avatar-container">
            <div class="author-avatar">
                <div class="author-image-container">
                    <div class="author-image">{% avatar user 150 %}</div>
                </div>
                <div class="patreon-{{ user.patreon_level }}"></div>
            </div>
        </div>
        <div class="author-detail-info">
            <h2>{{ user.username }}</h2>
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>

            <strong>Joined</strong><br/>
            {{ user.date_joined|date:"d. N Y" }}
            <br/>

            <strong>Last login</strong><br/>
            {{ user.last_login|date:"d. N Y" }}
            <br/>

            <strong>Receive emails</strong><br/>
            {{ user.receive_email_comms }}
            <br/>
            <br/>
            <a href="{% url 'profile_edit' %}">edit</a>
        </div>
        <div id="profile_link_buttons">
            {% if user.discord_user %}
                <form action="{% url 'unlink_discord' %}">

                    <input class="profile-linked-button" type="submit" value="Unlink Discord"/>
                </form>
            {% else %}
                <form action="{% url 'discord_bind_index' %}">
                    <input class="profile-link-button" type="submit" value="Link Discord"/>
                </form>
            {% endif %}
            {% if user.patreonaccountbind %}
                <form action="{% url 'unlink_patreon' %}">
                    <input class="profile-linked-button" type="submit" value="Unlink Patreon"/>
                </form>
            {% else %}
                <form action="{% url 'patreon_bind_index' %}">
                    <input class="profile-link-button" type="submit" value="Link Patreon"/>
                </form>
            {% endif %}
            <br/>
            <form action="{% url 'profile_token' %}">
                <input class="profile-token-button" type="submit" value="View API Token"/>
            </form>
        </div>
    </div>
    <br>
    <div class="divider">
        <span></span><span><h2>Bots ({{ bot_list.count }}/{{ max_user_bot_count }})</h2></span><span></span></div>
    <h4 style="float:left; margin-left:65px;">You may have {{ max_active_per_race_bot_count }} active bot(s) per race.</h4><h4 style="float: right; margin-right:65px;">{% if user.has_donated %} Thank you for your donation :){% endif %}</h4>
    <table summary="Table containing information about the authors bots" id="bot_table" class="row-hover-highlight">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Race</strong></td>
        <td><strong>Type</strong></td>
        <td><strong>Active</strong></td>
        <td><strong>Bot Zip</strong></td>
        <td><strong>Data</strong></td>
        <td></td>
        </thead>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.as_html_link }}</td>
                <td>{{ bot.get_plays_race_display }}</td>
                <td>{{ bot.type }}</td>
                <td>{{ bot.active }}</td>
                <td><a href="{{ bot.bot_zip.url }}">Download</a></td>
                {% if bot.bot_data %}
                    <td><a href="{{ bot.bot_data.url }}">Download</a></td>
                {% else %}
                    <td>No bot data</td>
                {% endif %}
                <td><a href="{% url 'bot_edit' bot.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
