{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block content %}
    <div class="divider"><span></span><span><h2>Profile</h2></span><span></span></div>
    <div id="author_detail">
        <div class="author-details-avatar-container">
            <div class="author-avatar">
                <div class="author-image-container">
                    <div class="author-image">{% avatar user 150 %}</div>
                </div>
                <div class="patreon-{{ user.patreon_level }}"></div>
            </div>
        </div>
        <div class="author-detail-info">
            <h2>{{ user.username }}</h2>
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>

            <strong>Joined</strong><br/>
            {{ user.date_joined|date:"d. N Y" }}
            <br/>

            <strong>Last login</strong><br/>
            {{ user.last_login|date:"d. N Y" }}
            <br/>

            <strong>Receive emails</strong><br/>
            {{ user.receive_email_comms }}
            <br/>
            <br/>
            <a href="{% url 'profile_edit' %}">edit</a>
        </div>
        <div id="profile_link_buttons">
            {% if user.discord_user %}
                <form action="{% url 'unlink_discord' %}">

                    <input class="profile-linked-button" type="submit" value="Unlink Discord"/>
                </form>
            {% else %}
                <form action="{% url 'discord_bind_index' %}">
                    <input class="profile-link-button" type="submit" value="Link Discord"/>
                </form>
            {% endif %}
            {% if user.patreonaccountbind %}
                <form action="{% url 'unlink_patreon' %}">
                    <input class="profile-linked-button" type="submit" value="Unlink Patreon"/>
                </form>
            {% else %}
                <form action="{% url 'patreon_bind_index' %}">
                    <input class="profile-link-button" type="submit" value="Link Patreon"/>
                </form>
            {% endif %}
            <br/>
            <form action="{% url 'profile_token' %}">
                <input class="profile-token-button" type="submit" value="View API Token"/>
            </form>
        </div>
    </div>
    <br>
    <div class="divider">
        <span></span><span><h2>Bots ({{ bot_list.count }}/{{ max_user_bot_count }})</h2></span><span></span></div>
    <h4 style="float:left; margin-left:65px;">You may have {{ max_active_active_competition_participations_count }} active competition participations.</h4>
    <h4 style="float: right; margin-right:65px;">
        {% if user.is_supporter %} Thank you for your support :){% elif config.PATREON_LINK %}Want more? Consider <a href="{{ config.PATREON_LINK }}">supporting us</a>.{% endif %}
    </h4>
    <table summary="Table containing information about the authors bots" id="bot_table" class="row-hover-highlight">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Race</strong></td>
        <td><strong>Type</strong></td>
        <td><strong>Bot Zip</strong></td>
        <td><strong>Data</strong></td>
        <td></td>
        <td></td>
        </thead>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.as_truncated_html_link }}</td>
                <td>{{ bot.plays_race.get_label_display }}</td>
                <td>{{ bot.get_type_display }}</td>
                <td><a href="{{ bot.bot_zip.url }}" download>Download</a></td>
                {% if bot.bot_data %}
                    <td><a href="{{ bot.bot_data.url }}" download>Download</a></td>
                {% else %}
                    <td>No bot data</td>
                {% endif %}
                <td><a href="{% url 'bot_edit' bot.pk %}">Edit</a></td>
                <td><a href="{% url 'bot_competitions' bot.pk %}">Competitions</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if requested_matches %}
        <div class="divider"><span></span><span><h2>Requested matches</h2></span><span></span></div>
        <form method="post">
            {% csrf_token %}
            <span style="margin-left:60px; display: inline;">
                <input class="profile-cancel-matches-button"  type="submit" value="Cancel Selected Matches"/>
            </span>
            <table summary="Table containing information about requested matches" class="row-hover-highlight">
                <thead>
                <tr>
                    <td><strong>Match ID</strong></td>
                    <td><strong>Bot 1</strong></td>
                    <td><strong>Bot 2</strong></td>
                    <td><strong>Map</strong></td>
                    <td><strong>Started at</strong></td>
                    <td><strong>Assigned to</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for match in requested_matches %}
                    <tr>
                        {% if match.assigned_to %}
                            <td>{{ match.as_html_link }}</td>
                        {% else %}
                            <td><input type="checkbox" name="match_selection" value="{{ match.id }}">{{ match.as_html_link }}</td>
                        {% endif %}
                        {% for p in match.participants %}
                            {% if p.participant_number == 1 %}
                                <td>{{ p.bot.as_truncated_html_link }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for p in match.participants %}
                            {% if p.participant_number == 2 %}
                                <td>{{ p.bot.as_truncated_html_link }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ match.map }}</td>
                        {% if match.started %}
                            <td>{{ match.started|date:"d. N Y - H:i:s" }}</td>
                        {% else %}
                            <td>queued...</td>
                        {% endif %}
                        {% if match.assigned_to %}
                            <td>{{ match.assigned_to.as_html_link }}</td>
                        {% else %}
                            <td>queued...</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </form>
    {% endif %}
{% endblock %}
