{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if current_season_name %}
        <div class="divider"><span></span><span><h2>Ranking - {{ current_season_name }}</h2></span><span></span></div>
    {% else %}
        <div class="divider"><span></span><span><h2>Ranking</h2></span><span></span></div>
    {% endif %}
    <table id="resultsTable" class="row-hover-highlight">
        <tbody>
        <thead>
        <td><b>Rank</b></td>
        <td><b>Name</b></td>
        <td><b>Race</b></td>
        <td><b>Author</b></td>
        <td><b>Type</b></td>
        <td><b>Active</b></td>
        <td><b>Win %</b></td>
        <td><b>ELO</b></td>
        </thead>
        {% for participant in seasonparticipation_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participant.bot.as_html_link }}</td>
                <td>{{ participant.bot.get_plays_race_display }}</td>
                <td>{{ participant.bot.user.as_html_link }}</td>
                <td>{{ participant.bot.type }}</td>
                <td>{{ participant.bot.active }}</td>
                {% if participant.bot.statsbots_set.count > 0 %}
                    <td>{{ participant.bot.statsbots_set.get.win_perc|floatformat:2 }}</td>
                {% else %}
                    <td>No stats</td>
                {% endif %}
                <td>{{ participant.elo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
