{% extends "base.html" %}
{% load i18n core_filters %}
{% block content %}
    <div class="divider"><span></span><span><h2>Request Match </h2></span><span></span></div>

    <div class="request-match-form flex-container">
        {% if config.ALLOW_REQUESTED_MATCHES %}
            {{ form.media.css }}

            {% if user.match_request_count_left <= 0 %}
                <h3>You have reached your match request limit.</h3>
            {% endif %}

            <p>Match request limit: {{ user.requested_matches_limit }}
                per {{ config.REQUESTED_MATCHES_LIMIT_PERIOD|smooth_timedelta }}</p>
            <p>Match requests left: {{ user.match_request_count_left }}</p>

            <form method="post" style="font-size: 16px;" action="{% url "requestmatch" %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-container">
                </div>

                <div class="flex-row-short" onchange="refreshForm()">
                    <div class="flex-row--title">Matchup Type</div>
                    <div class="flex-row">{{ form.matchup_type }}</div>
                </div>
                <div class="flex-row-short" onchange="filterBots()" id="active_bots_cb">
                    <span style="width:10%">{{ form.show_active_only }}</span>
                    <span style="margin-left: 5px">{{ form.show_active_only.label }}</span>
                </div>
                <div class="flex-container">
                    <div class="flex-row-short">
                        <div class="flex-row--title">Bot1</div>
                        <div class="flex-row">{{ form.bot1 }}</div>
                    </div>
                    <div class="flex-row-short">
                        <div class="flex-row--title">Bot2</div>
                        <div class="flex-row">
                            <div id="bot2">{{ form.bot2 }}</div>
                            <div id="matchup_race">{{ form.matchup_race }}</div>
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-row-short" onchange="refreshForm()">
                        <div class="flex-row--title">Map Selection Type</div>
                        <div class="flex-row">{{ form.map_selection_type }}</div>
                    </div>
                    <div class="flex-row-short">
                        <div id="map">
                            <div class="flex-row--title">Map</div>
                            <div class="flex-row">{{ form.map }}</div>
                        </div>
                        <div id="map_pool">
                            <div class="flex-row--title">Map Pool</div>
                            <div class="flex-row">{{ form.map_pool }}</div>
                        </div>
                    </div>
                </div>
                <label class="flex-row-short">
                    <div class="flex-row--title">Match Count</div>
                    <div class="flex-row">{{ form.match_count }}</div>
                </label>
                <div class="flex-row">
                    <input id="submit-button" type="submit" value="{% trans 'Request Match' %}"
                            {% if user.match_request_count_left <= 0 %} disabled="" {% endif %}/>
                </div>
            </form>
            {% if user.match_request_count_left <= 0 %}
                <h3>You have reached your match request limit.</h3>
            {% endif %}
        {% else %}
            <h3>Sorry. Requested matches are currently disabled.</h3>
        {% endif %}
    </div>
    {{ form.media.js }}
    <script type="text/javascript">

        function refreshForm() {
            if (document.getElementById('id_matchup_type').value !== 'random_ladder_bot') {
                document.getElementById('bot2').style.display = 'block';
                document.getElementById('id_bot2').required = true;
                document.getElementById('id_show_active_only').disabled = false;
                document.getElementById('matchup_race').style.display = 'none';

            } else {
                document.getElementById('bot2').style.display = 'none';
                document.getElementById('id_bot2').required = false;
                document.getElementById('id_show_active_only').disabled = true;

                document.getElementById('matchup_race').style.display = 'block';
            }

            if (document.getElementById('id_map_selection_type').value !== 'map_pool') {
                document.getElementById('map').style.display = 'block';
                document.getElementById('id_map').required = true;

                document.getElementById('map_pool').style.display = 'none';
                document.getElementById('id_map_pool').required = false;

            } else {
                document.getElementById('map').style.display = 'none';
                document.getElementById('id_map').required = false;

                document.getElementById('map_pool').style.display = 'block';
                document.getElementById('id_map_pool').required = true;
            }
        }

        function filterBots() {
            function filterActive(option) { // Empties the option's label and CSS hides it
                let active_cb = $("#id_show_active_only")[0];
                if (!active_cb.checked || (active_cb.checked && option.text.includes("✔"))) {
                    return option.text;
                }
                return false;
            }

            $('#id_bot1').select2({templateResult: filterActive});
            $('#id_bot2').select2({templateResult: filterActive});
        }

        function renderIcons() {
            function renderRace(option) { // Empties the option's label and CSS hides it
                if (option.text.includes('Terran')) {
                    let txt = option.text.replace("Terran", "");
                    return $(`<span><i class="sc2 sc2-terran"></i>  ${txt}</span>`);
                }
                if (option.text.includes('Protoss')) {
                    let txt = option.text.replace("Protoss", "");
                    return $(`<span><i class="sc2 sc2-protoss"></i>  ${txt}</span>`);
                }
                if (option.text.includes('Zerg')) {
                    let txt = option.text.replace("Zerg", "");
                    return $(`<span><i class="sc2 sc2-zerg" style="size=50;"></i>  ${txt}</span>`);
                }
                if (option.text.includes('Random')) {
                    let txt = option.text.replace("Random", "");
                    return $(`<span><i class="sc2 sc2-random" style="size=50;"></i>  ${txt}</span>`);
                }
                return option.text;
            }

            $('#id_bot1').select2({templateResult: renderRace});
            $('#id_bot2').select2({templateResult: renderRace});
        }

        $(document).ready(function () {


            filterBots() // In case initial value for #id_show_active_only changes or page is reloaded
            refreshForm()
            renderIcons()
        });

    </script>



{% endblock %}