{% extends "base.html" %}
{% load i18n core_filters %}
{% block content %}
    <div class="divider"><span></span><span><h2>Request Match </h2></span><span></span></div>

    <div class="request-match-form flex-container">
        <p>Match request limit: {{ user.requested_matches_limit }}
            per {{ config.REQUESTED_MATCHES_LIMIT_PERIOD|smooth_timedelta }}</p>
        Match requests left: {{ user.match_request_count_left }}
        {% if config.ALLOW_REQUESTED_MATCHES %}
            {{ form.media.css }}

            {% if user.match_request_count_left <= 0 %}
                <h3>You have reached your match request limit.</h3>
            {% endif %}

            <p>Match request limit: {{ user.requested_matches_limit }}
                per {{ config.REQUESTED_MATCHES_LIMIT_PERIOD|smooth_timedelta }}</p>
            Match requests left: {{ user.match_request_count_left }}
            <form method="post" style="font-size: 16px;" action="{% url "requestmatch" %}"
                  enctype="multipart/form-data">
                <style>
                    input, select {
                        width: 100%;
                    }

                </style>
                {% csrf_token %}
                <p onchange="refreshForm()">{{ form.matchup_type }}</p>

                <center>
                    <table style="display: table-footer-group">
                    <thead>
                    <tr>
                        <th>Bot1:</th>
                        <th>Bot2:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                            <div style="position: relative;">{{ form.bot1 }}</div>

                        </td>

                        <td>

                            <div id="bot2" style="position: relative;">{{ form.bot2 }}</div>
                            <div id="matchup_race" style="display: none; width: 100%; position: relative;">{{ form.matchup_race }}</div>

                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td>

                        </td>
                    </tr>
                    </tfoot>
                </table></center>
                <p>Map: {{ form.map }}</p>
                <p>Match Count: {{ form.match_count }}</p>
                <input id="submit-button" type="submit" value="{% trans 'Request Match' %}"
                        {% if user.match_request_count_left <= 0 %} disabled="" {% endif %}/>
            </form>
            {% if user.match_request_count_left <= 0 %}
                <h3>You have reached your match request limit.</h3>
            {% endif %}
        {% else %}
            <h3>Sorry. Requested matches are currently disabled.</h3>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {{ form.media.js }}
    <script type="text/javascript">

        function refreshForm() {
            if (document.getElementById('id_matchup_type').value !== 'random_ladder_bot') {
                document.getElementById('bot2').style.display = 'block';
                document.getElementById('bot2').style.width = '100%';
                document.getElementById('id_bot2').required = true
                document.getElementById('matchup_race').style.display = 'none';
            } else {
                document.getElementById('matchup_race').style.display = 'block';

                document.querySelector("#matchup_race > span").style.width = 100 + '%';
                document.getElementById('bot2').style.display = 'none';
                document.getElementById('id_bot2').required = false
            }

        }


    </script>


{% endblock %}