{% extends "base.html" %}
{% load i18n core_filters  %}

{% block content %}
    <div class="divider"><span></span><span><h2>Request Match</h2></span><span></span></div>
    <div class="request-match-form">
        {% if config.ALLOW_REQUESTED_MATCHES %}
            <p>Match request limit: {{ user.requested_matches_limit }} per {{ config.REQUESTED_MATCHES_LIMIT_PERIOD|smooth_timedelta }}</p>
            Match requests left: {{ user.match_request_count_left }}
            <form method="post" style="font-size: 16px;" action="{% url "requestmatch" %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.matchup_type }}</p>
                <table><tr>
                    <td>
                        <h3>Bot1:</h3>
                        <div>{{ form.bot1 }}</div>
                    </td>
                    <td>
                        <h3>Bot2:</h3>
                        <div id="matchup_race" style="display: none">{{ form.matchup_race }}</div>
                        <div id="bot2">{{ form.bot2 }}</div>
                    </td>
                </tr></table>
                <p>Map: {{ form.map }}</p>
                <p>Match Count: {{ form.match_count }}</p>
                <input id="submit-button" type="submit" value="{% trans 'Request Match' %}"
                  {% if user.match_request_count_left <= 0 %} disabled="" {% endif %}/>
            </form>
            {% if user.match_request_count_left <= 0 %}
                <h3>You have reached your match request limit.</h3>
            {% endif %}
        {% else %}
            <h3>Sorry. Requested matches are currently disabled.</h3>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script type="text/javascript">

    function refreshForm() {
        if (document.getElementById('id_matchup_type_0').checked) {
            document.getElementById('bot2').style.display = 'block';
            document.getElementById('id_bot2').required = true
            document.getElementById('matchup_race').style.display = 'none';
        }
        else {
            document.getElementById('matchup_race').style.display = 'block';
            document.getElementById('bot2').style.display = 'none';
            document.getElementById('id_bot2').required = false
        }

    }

    </script>
{% endblock %}
