{% extends "base.html" %}
{% load i18n core_filters %}

{% block content %}
    <div class="divider"><span></span><span><h2>Live Stream</h2></span><span></span></div>
    <iframe src="https://player.twitch.tv/?channel=aiarenastream&parent=ai-arena.net" frameborder="0" allowfullscreen="true" scrolling="no" height="563" width="1000"></iframe>
    <div class="divider"><span></span><span><h2>Twitch Chat</h2></span><span></span></div>
    <iframe src="https://www.twitch.tv/embed/aiarenastream/chat?darkpopout&parent=ai-arena.net" frameborder="0" scrolling="no" height="360" width="1000"></iframe>

{% endblock %}
