{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="divider"><span></span><span><h2>Registration</h2></span><span></span></div>
<div class="registration-form">
  <em class="material-icons" style="padding:0px; font-size:32px; float:left; padding-right:8px; padding-top: 15px;">how_to_reg</em>
  <h2 style="padding-top:5px; padding-left: 10px;">Create Account</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}

  <input id="submit-button" type="submit" value="{% trans 'Submit' %}" />
  <br/>
</form>
  </div>
{% endblock %}
